[2018-09-07 22:00] #287 closed

[2018-09-07 22:38] JonathanHuot opened #585 "Client web application does no longer send client_id"
I found a regression in master when used with requests/requests-oauthlib since  https://github.com/oauthlib/oauthlib/issues/495 has been merged. It's related to authorization grant/web application only.

Basic usage of requests-oauthlib is :

    sess = OAuth2Session(client_id)
    token = sess.fetch_token(token_url, client_secret=client_secret, authorization_response=request.url)

However, since

[2018-09-08 07:45] JonathanHuot commented on #431
The `(Not Found)` error was due to a regression of the authorization-code flow (see https://github.com/oauthlib/oauthlib/issues/585) in requests-oauthlib when using github provider. That's is not related to this particular change.

[2018-09-08 08:09] JonathanHuot commented on #585
My first thinking is to revert back the changes in `prepare_request_body` to, by default, use the `self.client_id` set in the `WebApplicationClient` constructor.
Then, inline docs should be changed in adequation to add `&client_id=xx` to the `prepare_request_body` output.

Finally, to replace the original fix, I'll suggest to remove `client_id` from the args, and add a new argument to `prepare_req

[2018-09-10 09:43] JonathanHuot commented on #585
poke @Diaoul @skion @thedrow

What about:

Thanks

[2018-09-10 20:08] jvanasco opened #586 "possible bug (or implementation library error)"
I am having a problem with the oauth2 "token endpoint" and can't pinpoint the exact spot where the issue is.  (I am using a custom library that is not released on github yet, but it's largely a port of flask-oauthlib onto the pyramid framework).

When submitting invalid credentials to (via http basic auth) to a token endpoint (e.g. `server.create_token_response`), the logic flow seems to make it t

[2018-09-10 20:27] JonathanHuot commented on #586
Hi @jvanasco, could you add few details to understand the issue:
1) how did you created your `server` ?
2) the curl request with payload that you use?

The grant `client_credentials` does not require any user checking, so that is normal to me.

[2018-09-10 21:27] jvanasco commented on #586
The request is coming in via `requests`

    session = requests.Session()
    basic_auth = HTTPBasicAuth(app_key, app_secret)
    response = session.post('/oauth2/token_obtain', data= {'grant_type': 'client_credentials'}, auth=basic_auth)

The endpoint is basically:

    server = oauthlib.oauth2.Server(custom_validator)  # validator is essentially flask-oauthlib
    uri, http_method, body, headers

[2018-09-10 22:17] JonathanHuot commented on #586
The `grant_type=client_credentials` is only calling:

        authenticate_client()
        validate_grant_type (client_id, grant_type, client)
        validate_scopes(client_id, scopes, client)
        save_bearer_token(token)

The exact purpose of the `client_credentials` is to act on behalf of the `client` itself, not on behalf of the user.

[2018-09-11 20:07] jvanasco commented on #586
Ah, I understand.  I think my issue came from not properly porting/understanding flask-oauthlib.

Just to be safe...

In my use-case, a Client can either:

* obtain a token for itself (via client_credentials), and
* obtain a token on behalf of a user

Is the correct place to determine contact in `save_bearer_token` and inspecting `request.grant_type` ?  If I have "client_credentials" there, then I

[2018-09-11 21:43] JonathanHuot commented on #586
Yes, it is a safe assumption to use `request.grant_type` in your validator's methods like `save_bearer_token`.

[2018-09-11 22:03] jvanasco commented on #586
okay, thanks for the clarification.

i'll close this and update the example app i built for my new library.

[2018-09-11 22:03] #586 closed

[2018-09-12 00:00] jvanasco commented on #557
I'm dealing with the same issue but have a different solution/request if this makes sense. I'd be willing to code a PR.

IMHO, it would make sense if the request stashed the "request_token" object as something like "request.legacy_token", which would then be cached (or read) as needed. For example, the refresh token is (often) already loaded via the `get_original_scopes` and `validate_refresh_toke

[2018-09-12 07:38] JonathanHuot opened #591 "Master has diverged from 2.x"
For some reasons, different documentation commits have been integrated to 2.x but are not included in master. As a result, the documentation generated at RTD (https://oauthlib.readthedocs.io/en/latest/) is missing commits. Most obvious example is the mention to Google+ community which has been dropped in favor of Gitter.

Before publishing 3.0.0, we have to fix that and make an up-to-date document

[2018-09-12 07:39] JonathanHuot commented on #591
Identified commit not merged : https://github.com/oauthlib/oauthlib/commit/f3ae98cef91e140b10d25fbd496622d879cc0c0c, but we should be sure everything is in sync.

[2018-09-12 18:48] jvanasco commented on #585
I actually triggered this same issue in one of my tests, but filed it against requests/oauthlib here:  https://github.com/requests/requests-oauthlib/issues/330

I believe the issue is actually the fault of requests_oauthlib.  Their docs - actually the first example in their entire docs when you load the page - support specifying the `client_id` in the `OAuth2Session` constructor.  The logic at lin

[2018-09-12 18:49] jvanasco commented on #578
This was addressed in #588

[2018-09-12 18:49] #578 closed

[2018-09-12 19:29] JonathanHuot commented on #585
@jvanasco, the current issue #585 can be fixed in requests-oauthlib alone, or by reverting oauthlib's PR #505. However, none of the solution will fix the behavior mentioned by @skion in his comment at https://github.com/oauthlib/oauthlib/pull/505#issuecomment-351221107

Oauthlib must provide an elegant and simple way for requests-oauthlib to solve the problem. If we can find a solution in this dis

[2018-09-12 19:40] jvanasco opened #592 "For consideration: stashing the loaded `refresh_token` object onto the `request` instance"
This discussion is forked from #557

When issuing a refresh token, there are two related potential improvements of the existing code and/or implementation guidelines.

1. If the request for refreshing a token is successful,  the `save_bearer_token` function does not natively have access to the object correlated to the `refresh_token` object. At the very least, this means that `save_bearer_token` d

[2018-09-12 20:07] skion commented on #585
Would allowing `client_id=False` in `prepare_request_body()` help, to indicate that a client_id isn't to be sent? Although even if so, that would lead to this ugliness near [line 126](https://github.com/oauthlib/oauthlib/pull/505/files#diff-260dec3a4278b6cef1fabcf2299d626fL126):

    client_id = None if client_id=False else self.client_id

[2018-09-12 20:12] jvanasco commented on #585
Ah, I see.

Is there an existing unit-test for when client_id should be sent vs not?  If not, does anyone have a listing that can be used to generate one?  I'd be happy to take a stab at fixing this and requests-oauthlib, because it's blocking some of my work right now.

[2018-09-13 08:20] skion commented on #585
@JonathanHuot

Reading this back, I actually quite like your suggestion. We can probably get away doing it in a non-breaking way, since the function already takes `**kwargs`.

One note:

Since this is about public clients IIUC, I wouldn't think the `client_secret` is involved; it's just the `client_id` being added to the body? In that case I would also consider renaming the new parameter to `inclu

[2018-09-13 17:18] jvanasco commented on #585
I'll generate PR's for both projects today.

[2018-09-13 18:17] jvanasco commented on #585
I've pretty much got a PR and tests done for OAuthlib.  I have a question though...

Should `client_id` still be allowed as a kwarg?  This is in part for backwards compatibility, but also for edge cases.  Because this method was somewhat broken, I think it may be worth either making it work as intended (as in allowing it in `prepare_request_body` to override the self.client_id) or to raise an Exce

[2018-09-13 18:48] skion commented on #585
Wouldn't see how you'd ever want to override `client_id` with a different value so would vote for raising an exception if they differ.

Should we, in addition, log a `DeprecationWarning` if `client_id` was provided at all as a kwarg?

[2018-09-13 19:58] jvanasco commented on #585
PR #593 submitted. It raises a DeprecationWarning when `client_id` is submitted, and a ValueError if it differs from `self.client_id`. There is also a new test that ensures compliance with the three scenarios @JonathanHuot detailed.

[2018-09-13 21:28] jvanasco commented on #585
ran into my first problem with requests-oauthlib PR candidate as I write some tests

It *ALWAYS* invokes `prepare_request_body` with `username=username, password=password`.   This seems wrong.  I'm hoping someone here is more familiar with the RFC and knows the answers to the following:

1. should a `username`+`password` even ever be a param in the request.body ?
2. if the `username`+`password` ap

[2018-09-13 22:12] JonathanHuot commented on #585
Thanks for running into this.

1. `username` and `password` **must** always be present in request's body. They  must be used **only** for password grant aka legacy. Those must not be used for other grants (implicit, code, client credentials).
2. HTTP Basic Auth is optional for client credentials (recommended for confidential clients i.e. with a `client_secret`). User credentials must **never** be

[2018-09-13 22:41] jvanasco commented on #585
Thanks. Just to clarify two things, and please feel free to talk to me like I'm five. I want to ensure I get this and the tests right:

1. Username and password are only used in a certain type of grant which require them. If used they may only be present in the request body.

Unless they are explicitly specified they should not be present, correct?

2. If Http basic auth is only for client credent

[2018-09-14 12:55] jvanasco commented on #585
Great! thanks so much. I thought that was what is going on but wanted to confirm.

I think I know how I want to structure the requests stuff now. I have a handful of commits on the main requests project, so I know what the maintainers like to see in PRs and functionality.

[2018-09-14 13:50] ibuchanan commented on #585
Yes, to the first part: only a certain type of grant requires them. But on the 2nd part about sending them in the request body, the spec says:

But for servers, it reads:

A compliant client, would not send the credentials in the request body.
But, for some partially implemented servers, they will only accept them in the request body.
If I recall correctly, my PR solved for this confusion by addin

[2018-09-14 14:27] JonathanHuot commented on #585
Hi @ibuchanan, the quotes you are referring to are using the term `client credentials`. We have to be very careful to not mix the client with the resource owner (the actual user).

The roles are clearly explained here [rfc6749#1.1](https://tools.ietf.org/html/rfc6749#section-1.1) .
This `client credentials` refers to  `client_id` and `client_secret` and the resource owner is refering to `username`

[2018-09-14 14:27] Diaoul commented on #585
Some server reject the request (400) if the client_id is in the request
body. I think the default should be what is recommended by the spec.

Le ven. 14 sept. 2018 à 15:51, Ian Buchanan <notifications@github.com> a
écrit :

[2018-09-14 19:35] jvanasco opened #597 "suggestion add `is_confidential` to oauth2 base.Client"
I discovered this as part of #585, but it's a separate (though related) issue...

The base `Client` object does not track if a client is confidential (or not), however clients must act differently in certain situations depending on this.  It looks like this was largely handled by creating a different base class for each 'concept'.  I think adding an `is_confidential' property to the base `Client`

[2018-09-14 20:12] jvanasco commented on #585
Ok. I think the current PR for `oauthlib` satisfies the above concerns - the `include_client_id` flag explicitly allows the `client_id` to be sent or not.

in terms of `requests_oauthlib`, this is what I am thinking:

1. `username` and `password` will only appear in the body (not as HTTP Basic). If that behavior is needed for a non-compliant server integration, the implementor can submit an `auth`

[2018-09-14 20:19] skion commented on #597
If we do this, would this void or simplify #593 to a large extend? If so, then it might be the better direction in the first place?

[2018-09-14 20:36] jvanasco commented on #597
It won't void #593, but I think it would simplify future maintenance and integration with requests_oauthlib.

It looks like several sections of the two libraries are subclassing functions or altering the behavior based on detecting the class type (e.g. WebApplicationClient vs MobileApplicationClient) where the behavior is actually dependent on whether the client is "confidential" or "public".

Mor

[2018-09-14 23:37] jvanasco commented on #585
I've slightly changed the PR for oauthlib (#593) to standardize the test variables for username/password and client_id/client_secret.  i think that should prevent mistakes from confusion between the two in the future.

The proposed change for requests-oauthlib : https://github.com/requests/requests-oauthlib/compare/master...jvanasco:fix-oauthlib_client_id

This one is a bit more drastic, because l

[2018-09-15 20:10] skion commented on #591
Should be fixed now...

[2018-09-15 20:10] #591 closed

[2018-09-15 20:54] #431 closed

[2018-09-15 21:00] JonathanHuot commented on #585
@jvanasco : looks very good on oauthlib and requests-oauthlib side.

About your 3. question:

You can have public clients without client_secret (or empty, that's close on a point of view of the RFC); so the python API must support "no secret".

The real-world use-case is often for native applications where you prefer to use authorization code, but you cannot guarantee the security around keep the

[2018-09-15 21:06] JonathanHuot commented on #591
Thanks @skion , I was thinking more than this single commit was missing, but it looks that was enough. Thanks!

[2018-09-15 21:45] jvanasco commented on #585
thanks. i'll add some test cases to ensure we can submit `client_id` without `client_secret`.  Sorry for asking so many questions, there are just so many *correct* implementations possible of this spec (and even more broken implementations that need to work).

[2018-09-17 16:52] jvanasco commented on #585
@JonathanHuot the existing implementation does not support sending an empty string for 'client_secret'.  It is removed in this logic https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/parameters.py#L90-L125  -- specifically line 122

Supporting it can be adding something like this right after that routine:

    if ('client_secret' in kwargs) and ('client_secret' not in params

[2018-09-17 17:43] jvanasco commented on #597
I did a deepdive into the code. After consideration, it seems like this request (#597) would simply be a method of documenting the type of client at this time.  It certainly can wait until after 585/593, which (IMHO) should be handled sooner than later.

While the various subclasses of `Client` alter their performance based on this attribute, they are also invoking slightly different arguments and

[2018-09-20 21:00] skion opened #601 "Add support for Proof Key for Code Exchange (PKCE)"
Supporting [PKCE](https://tools.ietf.org/html/rfc7636) would help improve security for native (public) clients...

[2018-10-03 07:46] xmedeko opened #602 "Client: Raise error from OAuth 2.0 Bearer errors in WWW-Authenticate"
**Describe the feature**

I use requests-oauth to issue requests to a service. If service detects invalid token, it responds with HTTP 401 and header `WWW-Authenticate: Bearer error="invalid_token", error_description="The access token expired"`

I got the response and have to parse it by myself. I would like the oauthlib to fail with `InvalidTokenError` instead. (And similarly for other bearer err

[2018-10-04 12:57] JonathanHuot commented on #602
Your suggestion sounds pretty good! Could you do a PR for that ?

[2018-10-05 09:33] #541 closed

[2018-10-05 09:34] JonathanHuot commented on #512
Master has its version bumped to 3.0.0-dev

[2018-10-05 09:36] JonathanHuot commented on #553
Suggest to close it since only `flask-dance` seems active, and it has been merged into README.

[2018-10-05 09:36] #553 closed

[2018-10-05 09:38] JonathanHuot commented on #524
We have no longer any open PRs

[2018-10-05 09:38] #524 closed

[2018-10-18 01:17] DiegoQueiroz opened #603 "Improve BackendApplicationClient class"
**Describe the feature**

In `BackendApplicationClient` class, the `client_id`, `scope`, and `**kwargs` parameters passed to the constructor are useless. Notice that even `client_id` being mandatory, it is not used at all (it is only stored). The `**kwargs` parameter, on the other hand, is completely ignored.

The `prepare_request_body` method overrides `scope` and ignores the one passed to the co

[2018-10-18 08:16] JonathanHuot commented on #603
Hi! Yes you're right, `kwargs` in constructor is not used. However the way `client_id` is handled has a bit changed recently (see https://github.com/oauthlib/oauthlib/pull/593).

Had you got a chance to look at master and see if it fits your needs ?

[2018-10-18 11:39] DiegoQueiroz commented on #603
You were right, I hadn't look at master. My fault.

I found the recent changes fits my needs, but they still have problems, particularly in `BackendApplicationClient`.

In other classes `client_id` was deprecated (eg. `WebApplicationClient`). This is good, but inconsistent with other classes (eg. `BackendApplicationClient`). Also, `include_client_id` is ignored.

I don't know if there is a rationa

[2018-10-18 19:49] jlaney opened #604 "AttributeError: uri_query"
I'm attempting to validate an OAuth1 request, using the SignatureOnlyEndpoint, but an exception is raised in common.py:

File "/data/virtualenv/bltienv/lib/python3.6/site-packages/oauthlib/oauth1/rfc5849/endpoints/signature_only.py", line 36, in validate_request
    request = self._create_request(uri, http_method, body, headers)
File "/data/virtualenv/bltienv/lib/python3.6/site-packages/oauthlib/o

[2018-10-18 23:33] jlaney commented on #604
Local issue, solved.

[2018-10-18 23:33] #604 closed

[2018-10-19 07:58] JonathanHuot commented on #603
Hi @DiegoQueiroz, thanks for the research! a PR increasing the consistency between classes would be greatly appreciated !

Adding a new arg/parameter (e.g. include_kwargs) seems too overkill/or unnecessary, though.

[2018-10-23 07:00] JonathanHuot commented on #420
This should include OAuth2 Authorization Server Metadata endpoint also, see https://tools.ietf.org/html/rfc8414 .

[2018-10-30 14:51] JonathanHuot opened #606 "OAuth2 invalid_client error must be a Fatal error."
**Describe the bug**

`oauthlib` raises a wrong exception base class for `invalid_client` errors.

**How to reproduce**

Return `False` from any of the `validator.authenticate_client()` in auth code, client_credentials, refresh, password, introspect or revocation flows.

**Expected behavior**

When client are unknown or invalid (`return False`), `oauthlib` should raise a `FatalClientError` excepti

[2018-10-30 18:13] JonathanHuot opened #607 "OAuth2.0 Revoke when client_id is a different client_id"
**Describe the feature**
Oauthlib is not fully compliant with the iso-7009-RFC, because proposes nothing to  handle revoke token requests which use client_id different from the token's client_id.

**Proposed solution**
I think my best understanding of the RFC conclude that we should raise a `invalid_grant` error.

Suggestion 1)
We could update the `endpoint.revocation.create_revocation_response` t

[2018-10-31 13:11] JonathanHuot commented on #393
I think the `BaseEndpoint.catch_errors_and_unavailability` should not be handled by `oauthlib` itself.

About error catching: web layer should handle that (`bottle-oauthlib`, `django-oauth-toolkit` and `flask-oauthlib` are already doing it).

About endpoint unavailability: I don't understand the exact needs. If someone could explain or link existing issues about that, it would be great to understa

[2018-10-31 13:17] skion commented on #607
Would that be the only possible error `revoke_token()` might want to return? If not, then doesn't sound ideal...

In the `authorization_grant` code this currently raises `InvalidClientIdError` upon `validate_client_id` returning `False`. Do you mean to do something similar in the revocation endpoint, but then raising an `InvalidGrantError` upon `False`?

If this doesn't require any changes to peop

[2018-11-01 10:01] skion commented on #606
One thing I don't yet understand is that `invalid_client` isn't listed as a [valid error code](https://tools.ietf.org/html/rfc6749#section-4.1.2.1) for the authorization request. Hence, should this code be used at all there?

It *is* listed for the token endpoint, but there's no redirecting involved there.

[2018-11-01 13:03] #606 closed

[2018-11-01 13:09] thedrow commented on #602
@xmedeko Ping?

[2018-11-01 14:15] xmedeko commented on #602
I am not so proficient with Python and currently have no time to dive into it. So, if anyone wants to take up the glove and make PR then I'd be happy to CR and test it.

[2018-11-05 15:00] JonathanHuot opened #609 "HTTP Basic Auth should be handled by oauthlib"
**Describe the feature**

For OAuth2 Provider implementation, HTTP Basic Auth is optional for authenticating the client. However, the web framework (flask-oauthlib, django-oauth-toolkit, bottle-oauthlib) are doing the RFC job themselves because oauthlib does not process that.

Ideally, we can expect from oauthlib, to convert the `headers['Authorization']` into `request.client_id` and `request.clie

[2018-11-06 07:39] mlboy opened #610 "grant_type set to variable"
“grant_type”  set to variable, because there are some non standard cases grant_type is not “authorization_code” some times it may be named "auth_code" ..

[2018-11-06 08:29] JonathanHuot commented on #610
Hi @mlboy, it seems a reasonnable feature.
However I'm wondering if it is not already doable.

Could you specify if you are talking about client, or server, and also an example of code and error ?

It will be a lot more meaningful.

[2018-11-06 10:14] mlboy commented on #610
https://github.com/oauthlib/oauthlib/pull/611

[2018-11-07 09:47] mlboy commented on #610
such as Meitu account and some  non-standard internal  systems.

[2018-11-07 20:33] muscleman opened #612 "MSSQL Integration"
Really just curious about the MSSQL integration.

I'm currently using this and getting migration errors about int to bigint conversions?

Is there a fixed version?
is this going to be fixed?

G.

[2018-11-08 09:05] JonathanHuot commented on #612
Hi @muscleman, I know nothing about MSSQL and your description is very cryptic. Could you add more context/details, and follow the Issue template when creating an github issue please ?

Please follow either a bug report template: https://github.com/oauthlib/oauthlib/issues/new?template=bug_report.md or a feature report template: https://github.com/oauthlib/oauthlib/issues/new?template=feature_requ

[2018-11-08 09:05] #612 closed

[2018-11-18 11:00] skion commented on #609
Makes me wonder if we should stop supporting OAuth1 in 3.0 or 4.0...

[2018-11-20 09:16] JonathanHuot opened #613 "Unified Custom Validators (hooks) for Grant and Server"
**Describe the feature**

Adding Custom Validators to Grants is doable by using the `GrantType` interface (see https://github.com/oauthlib/oauthlib/blob/v2.1.0/oauthlib/oauth2/rfc6749/grant_types/base.py#L49-L56). However, we provide `pre_configured` classes which does not expose "easily" these grant types. Also, we have multiple different kind of "hooks", for `Server.__init__()` we have `token_ge

[2018-11-20 19:26] rgmz opened #615 "Support OpenID Connect Client flows"
**Describe the feature**

From what I can tell OAuthLib does not support OpenID Connect client flows.
Is there a reason why they are not included or is it something that could be contributed?

**Additional context**

- Does the feature apply to OAuth1, OAuth2 and/or OIDC?

OIDC

- Does the feature apply to client or server side code?

client

[2018-11-21 09:16] JonathanHuot commented on #615
Hi @rgmz, it is needed and would be very well appreciated if someone contribute that part !

[2018-11-22 21:41] skion commented on #613
My `__init__()` for an OIDC Server is indeed about 150 lines long...

[2018-11-30 08:03] JonathanHuot commented on #601
Initial PR at https://github.com/oauthlib/oauthlib/pull/617

[2018-11-30 10:30] JonathanHuot opened #618 "OAuth2.0 Authorization Code - security issue - race condition"
**Describe the bug**

If multiple workers/threads are processing the same code at the same time, we can have a race condition where multiple responses contains valid tokens.

The current code validation is calling RequestValidator callbacks in this order:
- `validate_code(client_id, code, client, request)`
- `save_bearer_token(token, request)`
- `invalidate_authorization_code(client_id, code, requ

[2018-11-30 10:34] JonathanHuot commented on #618
### Workaround for oauthlib <= 2

`validate_code` can invalidate the authorization code itself. Only if the invalidation has succeeded (one entry of the DB table has been removed with success), it returns true.

Then the `invalidate_authorization_code` becomes a nop.

[2018-12-03 15:22] JonathanHuot opened #619 "Release oauthlib-3.0.0 changelog"
Since last 3.0.0 attempt, time has past and a couple of PRs have been integrated since #512, I suggest to open a new issue.

This release contains new features, bug fixes, and breaking changes due to errors in RFC understanding.

### OAuth2.0 Provider - New features ([full feature list](https://github.com/oauthlib/oauthlib/blob/master/docs/feature_matrix.rst)):

- [x] OpenID Connect Core support
-

[2018-12-03 16:49] JonathanHuot commented on #512
Closed in favor of #619 . Please start another discussion there if you want to.

[2018-12-03 16:49] #512 closed

[2018-12-03 16:56] JonathanHuot commented on #585
This issue is fixed in oauthlib. However the behavior is still there until https://github.com/requests/requests-oauthlib/pull/331 is fixed.

[2018-12-03 16:56] #585 closed

[2018-12-03 17:17] skion commented on #619
Best if these get merged before we release...

https://github.com/singingwolfboy/flask-dance/pull/193
https://github.com/requests/requests-oauthlib/pull/341

[2018-12-03 19:51] skion opened #622 "Support Python 3.7"
**Describe the feature**

OAuthLib works [fine](https://github.com/oauthlib/oauthlib/pull/621) with Python 3.7, but with Travis it appears we need to make a choice between either running tests on 3.4 and 3.5, versus running them on 3.7. Versions 2.7 and 3.6 are supported in both cases.

It feels natural to run tests on 3.7, but does that mean that we need to remove 3.4 and 3.5 from supported versi

[2018-12-03 20:02] skion commented on #622
Hold on, I might be wrong about 3.4 and 3.5 not being available...

[2018-12-03 21:43] skion commented on #622
This was nonsense.

[2018-12-03 21:43] #622 closed

[2018-12-05 08:43] JonathanHuot commented on #619
Another one to wait before release: https://github.com/jazzband/django-oauth-toolkit/pull/671

[2018-12-05 10:02] JonathanHuot commented on #568
WIP in branch, see: https://github.com/oauthlib/oauthlib/compare/568-remove-expires_at

Note that the impacts on flask-dance and requests-oauthlib are not negigeable, so I'd suggest to move it to 4.0.0 to not block the 3.0.0 release to happen.

[2018-12-12 21:24] jcampbell05 opened #626 "Device Code Grant Type"
**Describe the feature**

In the latest spec there is a device code grant type https://www.oauth.com/oauth2-servers/device-flow/token-request/

This is useful for authenticating embedded devices. Right now this library lacks this feature.

[2018-12-13 09:55] JonathanHuot commented on #626
The Spec is still in draft https://tools.ietf.org/html/draft-ietf-oauth-device-flow-13, but it will be great if anyone start to implement it in oauthlib. PRs are welcomed

[2018-12-14 12:08] JonathanHuot commented on #610
Fixed in https://github.com/oauthlib/oauthlib/pull/625

[2018-12-14 12:08] #610 closed

[2018-12-15 13:17] skion commented on #618
I also wonder if most people would wrap the whole request in a database transaction usually. I think this issue doesn't exist in that case...

[2018-12-16 13:24] florentcpt opened #631 "Enhance tests with pytest"
**Describe the feature**

Standard unitest package is great but [pytest](https://docs.pytest.org/en/latest/) is better by bringing tests to the next stage 💪 (better assertions, concision, output, ...)

pytest is also highly customizable through plugins.

**Additional context**

See the actual pytest documentation to have more details on the benefits of pytest or perform a quick search to ensure th

[2018-12-16 14:13] florentcpt opened #633 "Add support of OAuth 2.0 for Native Apps"
**Describe the feature**

Some clients are not web applications, do not run in a *User-Agent* but still want to authenticate a *resource owner* to access a *resource*.

Such clients can also be called *Native Apps*.

[RFC8252](https://tools.ietf.org/html/rfc8252) describe a proposal support of such clients.

**Additional context**

This feature apply for OAuth2 & OIDC.

Let's take the example of a

[2018-12-16 14:13] florentcpt commented on #633
I'm a candidate for this 😄

[2018-12-16 17:43] JonathanHuot commented on #633
You are more than welcome to work on it ;-)

[2018-12-16 18:32] JonathanHuot commented on #618
Agree on `validate_authorization_code` !

It would be interesting to see how it is implemented e.g. on django side and if/how it is affected.

[2018-12-16 18:40] JonathanHuot commented on #619
All checkbox are done, we only have the PR https://github.com/requests/requests-oauthlib/pull/341 missing. I think we can release 3.0.0 now and continue the work as soon as we have feedbacks on this release. Thoughs?

[2018-12-16 20:06] skion commented on #619
Nope, sounds good, are you happy to write up a changelog? If not I can help...

[2018-12-16 20:37] JonathanHuot commented on #619
If you're willing to do so, I'm happy 🙄 🤣

[2018-12-19 12:44] jcampbell05 commented on #626
@JonathanHuot is there a good documentation on where contributors can begin to add this device ?

[2018-12-19 13:00] thedrow commented on #626
You can ask on our Gitter channel.

[2018-12-19 19:55] JonathanHuot commented on #626
As thedrow mention it, we're very reactive in Gitter. You can also have a look on the other grants and see how they are currently implemented. Also note that we are differenting the _client_ code from the _server_ code, but we have sometime common code to both client and server.
If you are looking into the client part, ideally, you should also propose a PR to `requests-oauthlib` which is the main

[2018-12-20 12:46] #631 closed

[2018-12-21 05:45] jcampbell05 commented on #626
I'm more interested in the server side as I need to implement this for a project I'm working on. Atm I've done it using my custom code but I very much want to do it the correct way.

Will jump on gitter to discuss :)

[2018-12-26 20:49] JonathanHuot commented on #264
Fixed in #561 / oauthlib>= 3.0.0

[2018-12-26 20:49] #264 closed

[2019-01-06 06:19] thedustyrover opened #641 "Missing assignment of request.client_id"
Authorization_code, client_credential, and password grant types all make an assignment of `request.client_id = request.client.client_id`, e.g. https://github.com/oauthlib/oauthlib/blob/b79b5511b01c230037abee5b636f6f03378c93f1/oauthlib/oauth2/rfc6749/grant_types/client_credentials.py#L122

This is missing from the refresh_token grant type, which causes downstream problems for code that expects a cl

[2019-01-06 06:30] thedustyrover commented on #641
Specifically this causes issues when the client_id is passed in via an encoded Basic auth string. Normally the Request constructor (common.py) will automatically assign body params like client_id as attributes on the Request object, however this magic does not happen for client_id in the encoded auth string. The assignment done in the other grant_types restores this, but it's missing for refresh_t

[2019-01-07 11:34] JonathanHuot commented on #641
This issue can be resolved by fixing refresh grant but also this "hack" can be removed by implementing both https://github.com/oauthlib/oauthlib/issues/609 and https://github.com/oauthlib/oauthlib/issues/389 .

Don't hesitate to propose a PR.

[2019-01-07 22:31] JonathanHuot commented on #549
Latest 3.0.0 tagging didn't upload to PyPi at all.

After new looking at the doc, it seems they recommend to use https://docs.travis-ci.com/user/deployment/pypi/#upload-artifacts-only-once instead.

I'm updating `.travis-ci.yml` to upload pypi only once, so it should be any of the python versions depending of the first success (if all run in parallel, as expected by travis).

[2019-01-07 22:44] JonathanHuot commented on #549
The new `.travis-ci.yml` file run the release sections for pypi & github release only for py36 tox build now.
For all other python versions, travis stop by showing this message: `Skipping a deployment with the pypi provider because a custom condition was not met`

[2019-01-07 22:44] #549 closed

[2019-01-08 14:45] JonathanHuot opened #643 "Change validate_user/validate_grant_type order for Resource Owner Password Grant"
The flows shown in the dot graph (see https://github.com/oauthlib/oauthlib/pull/642#issue-242956366) uncovered an issue in the order of the calls.

### Resource Owner Password Grant

`validate_grant_type` is called AFTER `validate_user`, which can lead to unexpected behavior depending of the `validate_user` implementation (e.g. create a session on the idP side but should be forbidden). For the oth

[2019-01-09 08:56] JonathanHuot commented on #619
3.0.0 is now available in PIP, however an issue is still ongoing which prevent the ReadTheDocs documentation to be updated. Poke @thedrow

[2019-01-09 13:19] raphaelm opened #644 "OAuth2: Revocation with Basic auth no longer possible"
**Describe the bug**

When using the revocation endpoint, an error code ``401`` is returned even though client authentication is valid.

**How to reproduce**

* Call ``RevocationEndpoint.create_revocation_response`` with a ``headers`` dictionary containing the client authorization.
* Notice that this parameter is ignored completely. Clearly, it is overridden instantly:

https://github.com/oauthlib

[2019-01-09 16:30] JonathanHuot commented on #644
Could you check if https://github.com/oauthlib/oauthlib/pull/645 resolved your issue ?

It seems that oauthlib was lacking of unit tests around the combination of HTTP Basic Auth and Introspect/Revoke endpoints. Those have been added, too.

[2019-01-09 16:33] JonathanHuot commented on #619
3.0.0 is now released and available in pip, and documentation up to date ! 🔥 🔥 🍾 🍾

https://oauthlib.readthedocs.io/en/v3.0.0/oauth2/server.html#oauth2-0-provider-flows

[2019-01-09 16:33] #619 closed

[2019-01-09 17:09] raphaelm commented on #644
Seems to fix the problem, yes.

[2019-01-09 17:09] raphaelm commented on #644
Thank you for the fast response! :heart:

[2019-01-22 06:57] aodag commented on #644
I got the same problem, I wanna use fixed release.

[2019-01-24 13:36] JonathanHuot commented on #644
@raphaelm / @aodag : oauthlib 3.0.1 is now released.

[2019-01-24 13:36] #644 closed

[2019-01-24 18:44] duaneking commented on #534
Unless this has a unit test and is documented, it literally doesn't exist for our users or the developers that are iur customers as the consumers of the API.

[2019-01-24 18:52] duaneking commented on #540
I'm still very against the django coc as it violates individual rights and will create issues for the project down the road.  The CoC should be limited to only the project.  The initial version worked best.

[2019-01-24 20:18] duaneking commented on #626
I cant help but feel like leaving the client side out is a bad idea.

[2019-01-24 20:47] duaneking commented on #560
We really need to make our road-map public, if only to help with projects that depend on us.  The goal of course is to make things public but it also would allow us to collect feedback from our "customers" (The devs who work on things that use our lib)  to prioritize our features the correct way in response to market demand.

[2019-01-24 21:27] duaneking opened #646 "Remove/Delete stale git branches"
**Describe the bug**

The repo contains a lot of stale branches that make getting started in helping this project more confusing because people either didn't delete their branch after a successful merge, or gave up when we didn't merge immediately, or stopped contributing when we pushed back citing quality issues.

In general, there are far more stale branches then there are active branches.

**Ho

[2019-01-25 08:58] jcampbell05 commented on #626
I can build the client side but the device code server itself is still alot a work

[2019-01-25 19:17] duaneking commented on #626
I'm just thinking of the architecture needed for this in the context of the VERY needed JWT support.

[2019-01-28 11:20] JonathanHuot commented on #626
@duaneking, full JWT support may have architecture changes but it should not prevent @jcampbell05 of completing his work. The Device Flow has nothing to do with JWT and should not be conflicting with the JWT new architecture.

About client's side, if it's implemented during the first PR, that's would be great I confess. Also, it helps to test the Device Flow implementation itself.

[2019-01-29 18:47] duaneking commented on #626
My biggest push back was on having features be half done; If you are adding a client then that resolves this.  Thank You.

[2019-01-29 18:49] duaneking commented on #646
Sounds good, Lets give people notice/warning but enforce it later after we give them time.  It might be worth just tagging them in this defect so they get a notice from GitHub, as well.

[2019-02-05 18:43] phildini opened #649 "RFC7591 - Dynamic Client Registration"
Hi there. [Way back in 2013](https://github.com/oauthlib/oauthlib/issues/109), someone suggested oauthlib adding the tools to allow RFC7591 compliance. I'd love to restart that discussion, and see if it would be worth me trying to poke at a way to do this. There's also some libraries that use oauthlib that would like to see this

**Additional context**
https://github.com/jazzband/django-oauth-tool

[2019-02-13 05:26] hoylen opened #650 "Normalization of URIs for use in base strings does not percent encode spaces"
**Describe the bug**

The normalisation of a URL does not process the space character (0x20) according to
[section 3.4.1.2 of RFC 5849](https://tools.ietf.org/html/rfc5849#section-3.4.1.2).

The implementation is in the `normalize_base_string_uri` function in _oauthlib/oauth1/rfc5849/signature.py_.

**How to reproduce**

Invoke _normalize_base_string_uri_ with a URI that contains a space character

[2019-02-18 13:46] JonathanHuot commented on #650
Hi @hoylen, are you able to make a PR for this ? It will be very helpful as you already made a good investigation around.

[2019-02-19 17:52] JonathanHuot opened #652 "OIDC id_token response should not contain `state`"
**Describe the bug**

When requesting an id_token with the authorization code flow, the TOKEN endpoint returns a `state`, but `state` is only a response's parameter for the AUTHORIZE endpoint.

**How to reproduce**

- Implement OIDC support in oauthlib for `authorization_code`.
- Send a valid `/authorize` request with a state
- Send a valid `/token` request, and see `state=None` in the response.

[2019-02-20 09:53] JonathanHuot commented on #652
The same bug exists for OAuth2 but is slightly different. The response of `grant_type=authorization_code&state=foobar` contains `state=foobar`. However, we don't have the field if the request doesn't contain it, it's why nobody already noticed it.

It is like this because the same code is run for implicit and for authorization_code. This should be fixed.

[2019-02-21 11:03] JonathanHuot commented on #649
Hi @phildini, it would be very lovely to integrate it into oauthlib. Have you already looked into oauthlib endpoints to see how latest features have been implemented ? (e.g. introspect, .. ) and the needed requirements in `RequestValidator` callback ?

[2019-02-21 11:04] JonathanHuot commented on #646
Last call for @ib-lundgren and @dgouldin, we'll delete the above stale branches in 1 week.

[2019-02-21 16:57] JonathanHuot commented on #618
I checked in dot and **it is affected as well**. I don't see anything which currently prevent this to happen.

- `validate_code`:
https://github.com/jazzband/django-oauth-toolkit/blob/4a8e1c5ff3d680044ffc545dba2f782199a7fb56/oauth2_provider/oauth2_validators.py#L385-L395
- `save_bearer_token`: https://github.com/jazzband/django-oauth-toolkit/blob/4a8e1c5ff3d680044ffc545dba2f782199a7fb56/oauth2_pro

[2019-02-22 10:16] JonathanHuot commented on #109
The protocol is now finalized, and worth to be implemented in oauthlib. See the implementation discussion here https://github.com/oauthlib/oauthlib/issues/649

[2019-02-22 10:16] #109 closed

[2019-02-25 20:41] JonathanHuot commented on #582
If no solutions arises, I'd suggest to give a chance to another coverage app? That's really painful to not see the increase/decrease for each PR.

[2019-02-26 16:42] JonathanHuot commented on #582
Three changes were required to fix this issue:
- Added `COVERALLS_PARALLEL=true` and webhook https://github.com/oauthlib/oauthlib/commit/b02809db83ad490f6ff3f1b86037272bebb4e041#diff-354f30a63fb0907d4ad57269548329e3
- Removed notifications conditions: https://github.com/oauthlib/oauthlib/commit/8ef421b85b17b6cfb651ea4f13258be0c53ed879#diff-354f30a63fb0907d4ad57269548329e3
- Added `COVERALLS_REPO_T

[2019-02-26 16:42] #582 closed

[2019-03-04 09:54] #650 closed

[2019-03-04 09:59] JonathanHuot commented on #646
Staled branches have been deleted.

[2019-03-04 09:59] #646 closed

[2019-03-04 10:00] #652 closed

[2019-03-04 10:00] #601 closed

[2019-03-06 12:42] benjaatspencer opened #661 "The use of unicode_literals in not supported by urllib"
**Describe the bug**

Due to the use of from __future__ import unicode_literals every header dictionary manipulating function (such as oauthlib/oauth2/rfc6749/tokens.py:prepare_bearer_headers) are updating a dictionary with an key and value having the 'unicode' type. However, the use of 'unicode' data is not supported by urllib3 and it does not interact properly with (Py)OpenSSL, and thus it break

[2019-03-08 13:38] andrroy opened #662 "Valuerror unnecessarily being thrown in production"
**Describe the bug**

We have a problem in production where user types in "illegal" character sequences, which gets sent as part of a query to our server. The problem we are experiencing is that `oauthlib` throws a `ValueError` because these character sequences are not regarded as valid hex patterns (ref https://github.com/oauthlib/oauthlib/blob/master/oauthlib/common.py#L45)

**How to reproduce**

[2019-03-08 15:08] JonathanHuot commented on #662
Hi @andrroy for the report.

Below a shorter example:

OAuthlib:

[code]
Urllib:
[code]

Any PR are welcomed !

[2019-03-08 15:20] #662 closed

[2019-03-08 15:24] JonathanHuot commented on #661
Hi @benjaatspencer, thanks for the report !

It seems important and it will be very nice to have a PR for that, including `1.`

[2019-04-02 14:08] jiyer2016 opened #664 "Question on support for Elliptical Curve Algorithms"
This is a question (and NOT an issue)
I use a python app called jupyterhub that inturn relies on oauthlib.

A few months back I configured a Jupyterhub installation to talk to my firm's in-house OAUTH2 Service provider. Its all working perfectly well.

A few days back, I was told that the in-house OAUTH2 Service provider is undergoing an upgrade and future versions will require integrating platfor

[2019-04-04 08:38] thedrow commented on #664
Ummm what?
[Elliptic Curve Cryptography (ECC)](https://en.wikipedia.org/wiki/Elliptic-curve_cryptography) is a form of public key cryptography. That's about what you need to know.
It can be used for authenticating SSH sessions for example.

Are they talking about encrypting the token? Using ECC to authenticate that the token is valid?
It's not very clear what they are saying.

[2019-04-05 08:41] lietu opened #665 "Security data leak to logs"
**Describe the bug**

OAuthLib leaks users' passwords etc. to logs in case of errors.

We have e.g. an "authorize" route, that takes "username" + "password" in JSON body. However, if there's errors in parsing the request or validating some information, their username + password get leaked into the error logs.

OAuthLib should not make ANY assumptions about my request structure and it should NEVER

[2019-04-05 09:21] joakimnordling commented on #665
In a `bottle` application you can add this to the top of your `application.py` file as a workaround:
[code]

The error will then be logged as just:
[code]

[2019-04-18 19:37] JonathanHuot commented on #665
Any elegant solution to enable/disable debug information will be really helpful for everyone. Any suggestions/PR someone ? :-)

[2019-04-19 13:02] polamayster opened #666 "Client_secret and code_verifier (PKCE) should be transmitted securely"
**`client_secret` and `code_verifier` are accepted when sent as parameters in query string**

`Request.client_secret` should be checked for presence in headers or body and `Request.code_verifier` just in body but not query string as it is sensitive data.
Addition checks might be done, such as request type is `POST` and data was sent using `HTTPS`.

When `client_secret` or `code_verifier` is sent i

[2019-04-19 20:00] JonathanHuot commented on #666
Hi @polamayster, you're perfectly right.

I'm adding the sections of RFC specifying how it has to be implemented:

Section of OAuth2.0 RFC :

https://tools.ietf.org/html/rfc6749#section-2.3.1

[code]

Section of PKCE RFC:

https://tools.ietf.org/html/rfc7636#section-4.5

[code]

https://tools.ietf.org/html/rfc6749#section-4.1.3
[code]

So I have no doubt about the pertinence of the issue. Any PRs

[2019-04-20 08:43] Abhishek8394 commented on #666
I'll be interested in taking this on.

[2019-04-20 10:31] Abhishek8394 commented on #666
Should this behaviour be enforced only for requests that expect credentials or any request in general?

[2019-04-20 19:38] polamayster commented on #666
To my understanding `oauthlib.common.Request` class has a `__getattr__` method and `_params` dictionary (updated from query string and body parameters) and **any request** that tries to access/get `client_secret` or `code_verifier` should only lookup in body and/or headers (perhaps having separate property for sensitive data lookup would make sense)

[2019-04-20 19:45] Abhishek8394 commented on #666
I see, I'll submit a pr for it today

On Sat, Apr 20, 2019, 12:38 PM Bohdan <notifications@github.com wrote:

[2019-04-21 17:24] Abhishek8394 commented on #666
So the checks should happen at access time instead of when url is set? So if a request never accesses those params, it doesn't matter if client included their secrets in url or not. Am I interpreting that correctly?

[2019-04-21 18:42] Abhishek8394 commented on #665
How about an environment variable like `DEBUG` which if set, then we print whole request else just a placeholder like "<SANITIZED>"

[2019-04-21 18:46] lietu commented on #665
`oauthlib.set_debug(True)` or similar would probably be preferable over just assuming you can use a generic env variable like that and surprise people by again leaking security sensitive data

[2019-04-21 19:15] Abhishek8394 commented on #665
@lietu That's way better!

[2019-04-26 13:29] JonathanHuot commented on #666
I realize this issue is larger and applies to the whole `/token` endpoint. This endpoint MUST NOT accept any parameters in the URL. That's MUST NOT be allowed.

[2019-04-26 13:52] JonathanHuot opened #670 "OAuthlib API is not returning PKCE new values"
**Describe the bug**

The internal method `validate_authorization_request` should return the list of OAuth2 fields in `request_info`. However, this function is not returning the PKCE values.

**Additional context**
OAuth2 Provider - Using PKCE with Authorization Code

The downstream DOT library has implemented a workaround but it should be available for all downstream libraries. See
https://github

[2019-04-26 14:46] Abhishek8394 commented on #666
I think the introspection endpoint qualifies as well. IIRC, according to
HTTP specifications,  POST requests must always ignore query parameters. If
we enforce that, we automatically solve all problems without affecting
valid use cases. I'm not sure how other HTTP verbs are supposed to behave
but I'm pretty sure on POST one. Can anyone confirm if that's the right
direction to go towards?

[2019-04-26 20:37] JonathanHuot commented on #666
Denying all query parameters for all POST is a nice shortcut which is attractive ! However I am worried about the oauthlib's ResourceEndpoint and the fact that some of the users can still add query arguments to the URL (despite it is not recommended, it's still possible technically).

[2019-04-26 22:34] Abhishek8394 commented on #666
Can you elaborate a bit more on your concerns with resource endpoint?

The way I see it, POST requests are made either via form submissions or api
calls (writing explicit code). I do not see why would someone add partial
data as query params and partial as post data. In fact, it is easier to
commit completely to either.
Actually if you are using a library to make requests, it is far easier to
add

[2019-04-29 13:52] shssoichiro opened #672 "Null value in expires_in field not handled correctly"
**Describe the bug**

Some OAuth-based services have been discovered to include the `expires_in` field, but set it to `null`. This issue was discovered on our end attempting to authenticate to SurveyMonkey's API. The `oauthlib` library does not handle this case correctly, and will throw an error if it encounters this.

**How to reproduce**

1. Create an account with SurveyMonkey
1. Create a sample

[2019-04-30 14:26] JonathanHuot commented on #672
Hi @shssoichiro, thanks for your report !

The oauthlib framework should be robust to that. I'm wondering if the work started at https://github.com/oauthlib/oauthlib/issues/568 will not fix the issue ?

Else, could you submit a PR to fix this one ? It will be really helpful for the whole community.

[2019-05-06 06:43] esfandiaryfard commented on #264
according to this RFC that mentioned above invalid client also should return status 400 but in package still is 401

[2019-05-06 07:15] Abhishek8394 commented on #666
Here's another possible solution for it. For the endpoints (`AuthorizationEndpoint`, `IntrospectEndpoint`, `RevocationEndpoint`); If the request method is `POST` we can add the check for query params in their respective request validation methods . For (`TokenEndpoint`, `MetadataEndpoint`) we can add the check in response generation methods.
OR we can add it in response generation method for all o

[2019-05-06 12:39] JonathanHuot commented on #666
I think it's preferable to use the _request_ validation methods.
Knowing that `POST` is only for `TokenEndpoint`, `IntrospectEndpoint` and `RevocationEndpoint`. Others are `GET`: `AuthorizationEndpoint`, `MetadataEndpoint`.

[2019-05-06 14:31] JonathanHuot commented on #537
Would like to know if someone is using the HTTP Header `Authorization: JWT <...>` and the associated files/classes:
- `oauthlib.openid.connect.core.tokens.JWTToken` (at https://github.com/oauthlib/oauthlib/blob/master/oauthlib/openid/connect/core/tokens.py)

And also the RequestValidator methods:
- `get_jwt_bearer_token(self, token, token_handler, request)`
- `validate_jwt_bearer_token(self, token

[2019-05-07 07:33] JonathanHuot commented on #666
A general comment though: should we focus on sensitive fields (e.g. maintaining a blacklist) or should we deny all OAuth2 parameters (we want NONE to be in the Query URI, right ?)

[2019-05-07 15:42] Abhishek8394 commented on #666
Ideally I'd like NONE in Query URI. I went for a blacklist because I wasn't
sure if I might be breaking some existing use cases. Not only are no OAuth2
parameters allowed, but no query parameters are allowed at all.

[2019-05-07 18:40] JonathanHuot commented on #666
If you move the checks from Request to the Endpoints, I don't see any issues in disabling all query parameters !

[2019-05-07 18:58] #670 closed

[2019-05-09 15:27] Abhishek8394 commented on #666
Alright  then, I'll disable all query params on those exact endpoints. And
we are also restricting the http method to POST, correct?

[2019-05-13 07:43] JonathanHuot commented on #264
Hi @esfandiaryfard, could you point the exact text of the RFC ? Thanks!

[2019-05-13 07:54] JonathanHuot opened #676 "WWW-Authenticate response adds wrong format with comma"
**Describe the bug**

Since 3.0.0 oauthlib returns 401 with WWW-Authenticate HTTP header. The field is currently not defining the `realm=` option, but it looks OK for the [Bearer Token RFC](https://tools.ietf.org/html/rfc6750#section-3). However, I didn't find any concrete examples of syntax when realm is not present, and if we have to add a comma or not.

Example it's either:
`WWW-Authenticate: B

[2019-05-16 08:19] Abhishek8394 commented on #676
1. There should not be a comma **immediately after** `Bearer` as that is incomplete. `Bearer` expects some more data like; `realm` for example. Below is an example from [RFC 6750 section 3 Intro end](https://tools.ietf.org/html/rfc6750#section-3).
[code]

2. `realm` is optional, given you use some other option. As per [RFC 2617 Section 3.2.1](https://tools.ietf.org/html/rfc2617#section-3.2.1) the

[2019-05-17 08:14] JonathanHuot commented on #676
So basically it means that the preferred approach would be to add the `realm` (or any other "challenge") as a parameter of the oauthlib Server/Endpoint ?
I think it makes sense.

[2019-05-17 15:00] Abhishek8394 commented on #676
Yes, a challenge must be added. It would be nice if challenge is
configurable and has hooks, for composing challenges and verifying them.

[2019-05-21 08:25] JonathanHuot opened #678 "Community members - activity"
Hi @oauthlib/core-contributors, I would like to propose that all majors downstream players to have a role in the oauthlib group.

Without them, the framework would not survive and we see that new features are implemented in the downstream libraries instead of the oauthlib framework itself. If the oauthlib community can have more active members, it will be beneficial for everyone.

Given the active

[2019-05-21 09:02] jleclanche commented on #678
I'd actually be in favor of moving d-o-t to oauthlib org. It's currently in jazzband which is more or a FFA contribution org. I suggested moving it there initially as it was essentially unmaintained in its original org.

[2019-05-21 09:55] daenney commented on #678
I don't mind having write access but I don't expect I'll be needing it. Though I'm pretty familiar with Flask and feel comfortable contributing to Flask-Dance directly by handling issues, merging PRs etc. I can't claim that same familiarity with OAuth and the OAuth spec. Though I can participate in issues and code reviews, I don't feel I'd be comfortable pressing the merge button on a PR on oauthl

[2019-05-21 11:56] JonathanHuot commented on #678
@jleclanche, despite the maintenance work (docs, tooling, links,...) around moving a project into oauthlib org, I think it is a good idea & can be worth it long term. I think we could move bottle-oauthlib into the org, too.

@daenney, that's perfectly fine ! I don't expect any downstream developers to know everything about OAuth, but we have the python API between the libs and oauthlib. You are ce

[2019-05-21 13:51] singingwolfboy commented on #678
This seems reasonable to me! I don't spend a lot of time working on Flask-Dance these days, since I'm not using it for anything at the moment, personally or professionally. Nonetheless, I'm still actively supporting it, and @daenney has been a huge help. (Thanks again!)

I'm not sure I'll actually be doing much with `requests-oauthlib`, but it's definitely good to have the permissions to do so. On

[2019-05-27 09:45] JonathanHuot commented on #678
@singingwolfboy, no concerns about Tidelift.

If nobody has an objection, I'll give a couple of write access to this project in one week. Poke @thedrow, @skion, @duaneking, @wiliamsouza.

[2019-05-27 10:03] skion commented on #678
I'm in favour of this as I'll be able to spend less time going forward.

[2019-06-03 06:24] kaeruko opened #679 "Nonce is not optional but required when you hybrid flow contains id_token"
Nonce parameter required  only implicit flow in your implement

https://github.com/GluuFederation/oxAuth/issues/316#issuecomment-244238134

[2019-06-03 06:49] key commented on #679
I've checked spec at OpenID.net (https://openid.net/specs/openid-connect-core-1_0.html#HybridFlowAuth). I thought must have nonce parameter for hybrid flow.

[2019-06-04 07:36] #679 closed

[2019-06-04 07:37] kaeruko commented on #679
I have checked It is corresponding at master branch

[2019-06-05 06:38] singingwolfboy commented on #678
I would like to [display the GitHub Sponsor button on the requests-oauthlib repository](https://help.github.com/en/articles/displaying-a-sponsor-button-in-your-repository), but I don't have permission to access the settings page of that repo on GitHub. Can someone please turn it on, or give me permission to turn it on myself?

[2019-06-06 03:12] MrkGrgsn commented on #290
I've just encountered this problem with `parse_authorization_code_response` while working on a client.  I can prepare a fix however the error checking must happen before the authorization code is checked (otherwise clients will just continue to receive a `MissingCodeError`), which will be a breaking change because clients' error handling will have to move from this pattern:
[code]
to this one
[cod

[2019-06-07 15:00] JonathanHuot commented on #678
I have invited a couple of downstreams contributors into oauthlib org. If I miss anyone, OR if anyone reading this discussion is interested in participating into oauthlib, either on behalf of another downstream library or on his own, please comment here or send me a message!

Thanks

[2019-06-11 08:45] thedrow commented on #678
@singingwolfboy Please edit the FUNDING.yml file accordingly.

[2019-06-11 08:48] singingwolfboy commented on #678
@thedrow Could you please clarify your comment?

* _Which_ `FUNDING.yml` file are you referring to?
* How would you like me to edit it?
* Are you able to make a pull request, so that you can demonstrate the edits you think should be made?
* Finally, does this discussion even belong in this particular GitHub issue?

[2019-06-11 09:09] thedrow commented on #678
- https://github.com/oauthlib/oauthlib/blob/master/.github/FUNDING.yml
- A PR would be fine. We'll need to open an opencollective account.
- Nope. We should open a new one.

[2019-06-12 14:10] #290 closed

[2019-06-12 14:20] JonathanHuot commented on #678
poke @singingwolfboy, I saw that you have write access to requests-oauthlib, do you know who can grant to some of us similar permissions ?

I think if I find some spare time to clean the issues/PR, I will.

[2019-06-12 15:29] jleclanche commented on #678
CC'ing @jezdez here; reached out on IRC about moving DOT from jazzband to here.

[2019-07-03 16:35] JonathanHuot commented on #603
I think the immediate concern was fixed in #682 and the handling of `kwargs` is left. However the `kwargs` applies to other part of the code, not only `BackendApplicationClient`.

If someone would like to start a PR/issue with an API changes proposal regarding the `kwargs`, please do so ! :)

Thanks

[2019-07-03 16:35] #603 closed

[2019-07-04 07:33] #672 closed

[2019-07-04 07:36] JonathanHuot commented on #666
Fixed in https://github.com/oauthlib/oauthlib/pull/667

[2019-07-04 07:36] #666 closed

[2019-07-04 09:43] JonathanHuot opened #684 "Community - Missing logo"
Hi @oauthlib, I think each project deserves its own logo and oauthlib is missing one.

I was thinking about reusing the OAuth black logo with a Python in it, or something similar.
Or, since I have no design skills, only put the two logos on the same image.

Thoughs?

[2019-07-08 10:01] thedrow commented on #684
If you're willing to put 5 dollars on it you'll get a decent logo on fiverr or upwork.

[2019-07-16 09:46] JonathanHuot opened #685 "OAuth2.0 Revoke 7008 token_type_hint enhancement"
**Describe the feature**

OAuthlib should try to manage the `token_type_hint` itself, instead of relying on the application. Every "RFC code" should be in oauthlib and not in the application, which is prone to errors.

**Additional context**

RFC7008 describe the field as below:

       token_type_hint  OPTIONAL.  A hint about the type of the token
           submitted for revocation.  Clients MAY

[2019-07-16 18:23] steffenschumacher opened #686 "Support for Azure AD on-behalf-of grant"
**Describe the feature**
Support for https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow even though it its not a part of the standard?

If we add an OnBehalfOfApplicationClient derived from Client, it would easily support the token grant flow described above - there'd be very few changes compared to eg WebApplicationClient

**Additional context**
I have imp

[2019-07-18 05:24] bertjwregeer opened #687 "Docs for validate_code require request.state to be set, but where is it used?"
In the docstring for `validate_code` here: https://oauthlib.readthedocs.io/en/v3.0.1/oauth2/validator.html#oauthlib.oauth2.RequestValidator.validate_code

It is also referenced in `save_authorization_code`: https://oauthlib.readthedocs.io/en/v3.0.1/oauth2/validator.html#oauthlib.oauth2.RequestValidator.save_authorization_code

If we have stored the `state` with the `authorization_code` we are supp

[2019-07-18 05:41] bertjwregeer opened #688 "confirm_redirect_uri after valid_code feels wrong"
I'm implementing a validator, and I am finding the behaviour of `validate_token_request` in https://github.com/oauthlib/oauthlib/blob/d7b90fc841694f126ec63500ea8f74330c4672eb/oauthlib/oauth2/rfc6749/grant_types/authorization_code.py#L435 a little bit frustrating.

Specifically the fact that `validate_code` is not required to validate the `redirect_uri`, and instead we basically get two calls that

[2019-07-18 07:02] JonathanHuot commented on #687
Hi @bertjwregeer, thanks for the report, you are entirely right.

We already removed these references in the master branch. You can check the latest documentation at:

https://oauthlib.readthedocs.io/en/latest/oauth2/validator.html#oauthlib.oauth2.RequestValidator.validate_code
https://oauthlib.readthedocs.io/en/latest/oauth2/validator.html#oauthlib.oauth2.RequestValidator.save_authorization_code

[2019-07-18 07:02] #687 closed

[2019-07-18 07:05] bertjwregeer commented on #687
Thanks @JonathanHuot!

[2019-07-19 13:54] JonathanHuot commented on #686
I guess it can be integrated, I think it is a good idea, even if not standard, blabla, we may have other interested.

[2019-07-22 18:45] JonathanHuot commented on #688
Hi,

Thanks for this detailed report. The overall idea of oauthlib is to provide a framework for OAuth2.0 and to put all the "RFC code" into the framework, and all the "implementation code" into your project.

If we tell users to validate themselves the `redirect_uri` in `validate_code`, it will break this fundamental rule.
Also, the different flows require different logic, see the diagram below:

[2019-07-22 18:46] JonathanHuot commented on #665
Merged & will be delivered in 3.1.0

[2019-07-22 18:46] #665 closed

[2019-07-25 03:41] hmoffatt opened #690 "OAuth1: can't verify SHA256 signature in server with OAuth1"
In my server code I am receiving OAuth1 requests signed with SHA1 and 256. oauth1 requests signed with HMAC-SHA1 work, but HMAC-SHA256 signatures fail to validate.

I see that the code in oauthlib/oauthlib/blob/master/oauthlib/oauth1/rfc5849/endpoints/base.py tests for SIGNATURE_HMAC (SHA1), else it assumes it is plaintext. There is no handling of SHA256.

I am using lti (https://github.com/pylti/

[2019-07-25 14:36] JonathanHuot commented on #690
If you have the current sample with lti and its behavior (output, exception, ..) that's maybe a start, even if not ideal I agree.

Thanks for the report & the PR !

[2019-07-26 02:45] hmoffatt commented on #690
pylti is calling SignatureOnlyEndpoint.validate_request() here:
https://github.com/pylti/lti/blob/master/src/lti/tool_provider.py#L54

Without this fix I was getting the following logged:

[code]

With the modified code validation is passing.

[2019-07-26 02:45] #690 closed

[2019-07-26 10:34] JonathanHuot commented on #684
my first attempt:

![oauthlib-icon](https://user-images.githubusercontent.com/820496/61945988-b3a45e80-afa1-11e9-9392-d639e0b49844.png)
![oauthlib-small](https://user-images.githubusercontent.com/820496/61945989-b3a45e80-afa1-11e9-9433-c4bff6473b4c.png)
![oauthlib](https://user-images.githubusercontent.com/820496/61945909-75a73a80-afa1-11e9-99e7-8615ab74fec6.png)

thoughts?

[2019-07-29 08:20] thedrow commented on #684
Looks great.

[2019-07-29 14:27] JonathanHuot commented on #684
I removed the grid behind the python logo, it looks better for medium/large size!

![oauthlib](https://user-images.githubusercontent.com/820496/62055095-36841e00-b21b-11e9-91ab-7a64f9e5c0bb.png)

[2019-07-29 15:26] JonathanHuot commented on #684
Another design for 64x64 icons:

![oauthlib-icon-64](https://user-images.githubusercontent.com/820496/62058781-418e7c80-b222-11e9-81fc-c773954c36c4.png)

Another serie of designs for 32x32 icons:

![oauthlib-icon-32-python](https://user-images.githubusercontent.com/820496/62060421-6506f680-b225-11e9-8132-7e307def45c2.png)
![oauthlib-icon-32](https://user-images.githubusercontent.com/820496/6206042

[2019-08-01 09:43] huanglong123 opened #692 "hope allow {}[] character in query string"
In my project, have {"s":["v12-3000"]} in url, hope can allow {}[] character in query string.

like this
`urlencoded = set(always_safe) | set('=&;:%+~,*@!()/?{}[]')

def urldecode(query):
    """Decode a query string in x-www-form-urlencoded format into a sequence
    of two-element tuples.

    Unlike urlparse.parse_qsl(..., strict_parsing=True) urldecode will enforce
    correct formatting of th

[2019-08-01 09:55] #692 closed

[2019-08-10 12:21] ashleysommer opened #695 "OAuth1 Provider Question on urlencoding oauth_callback before checking signature"
I'm implementing a proof-of-concept OAuth 1.0 provider and client, and I'm using oauthlib to help write the provider side.

I'm having the problem in signature matching, where I cannot produce identical basestrings in the client vs in the provider.

In the client, the generated basestring looks like this:
[code]
Whereas in the provider, the generated basestring looks like this:
[code]
As you can s

[2019-08-12 09:28] polamayster opened #696 "Add property/method to check for OIDC flow"
When there is a need to check is OIDC flow involved and do some work depending on that (sending/requesting additional data) it would be really nice to have such ability on a library level not on consumer/oauth server implementation level.
Of course it could be done in couple ways like checking for scope in authorization code grant or verifying original/initials scopes in refresh grant type, etc bu

[2019-08-13 15:54] thedrow commented on #29
There was no other draft.
Does this mean we should remove the implementation?

[2019-08-13 15:57] thedrow commented on #684
I think we can close this issue.
Feel free to reopen if I'm wrong.

[2019-08-13 15:57] #684 closed

[2019-08-13 15:58] thedrow commented on #664
Since there was no response, I'm closing this issue.

[2019-08-13 15:58] #664 closed

[2019-08-13 16:01] thedrow commented on #695
I'm not very familiar with OAuth1 but double-urlencode doesn't sound about right.
Feel free to provide a PR to fix it.

[2019-08-13 16:02] thedrow commented on #686
@JonathanHuot If it's not a standard, maybe we can offer it in a third-party?

[2019-08-13 16:10] thedrow commented on #609
We can specialize `OAuth2Request` for that matter.
I'd rather not drop OAuth1 at the time being as people still rely on it.

[2019-08-13 16:12] thedrow commented on #597
Is this issue still actionable or should we close it?

[2019-08-13 16:21] jvanasco commented on #597
I think it's still actionable.

looking at the current master, and oauth2 only, the is_confidential attribute -- based on public/confidential distinction in the rfc - would be the following

base.py Client
	is_confidential = None

backend_application.py BackendApplicationClient
	is_confidential = False

legacy_application LegacyApplicationClient
	is_confidential = False

mobile_application.py Mobi

[2019-08-14 00:11] ashleysommer commented on #695
I've found the relevant sections in RFC5849 where the confusion comes from.

See in section [3.4.1.3.2](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.2)
Instructs when normalizing the collected query string parameters:

Then in section [3.4.1.1](https://tools.ietf.org/html/rfc5849#section-3.4.1.1)
Instructs when constructing the base string

       being encoded (Section 3.6).

The functions

[2019-08-14 00:21] ashleysommer commented on #695
I was looking into why the signature validation tests pass while this bug exists in the basestring construction routine.

It looks like someone has fudged the tests to get them to pass.

See the control_base_string (pass/fail check string) given here:
https://github.com/oauthlib/oauthlib/blob/31486aa503e19ae26ba4c15f2809ddf6c5c1b248/tests/oauth1/rfc5849/test_signatures.py#L61

And again written ou

[2019-08-14 06:15] thedrow commented on #695
I agree with your analysis.
Care to issue a PR to fix the this problem?

[2019-08-14 06:26] ashleysommer commented on #695
I've just been through and fixed the tests (see my PR above) so that the tests more closely align with the examples and expected results given in the RFC.

I now have a much more solid understanding of the RFC spec, and actually it turns out there _are_ some things which _are expected_ to end up double-urlencoded.

So even though the tests were implemented in a weird way and were forcing incorrect

[2019-08-14 08:16] thedrow opened #698 "Drop Python 2.7"
Python 2.7's EOL is in January 2020.
We should be prepared to drop the support for it.

This will simplify our codebase and allow us to use newer features.

[2019-08-15 09:39] hugovk commented on #698
Please see PR https://github.com/oauthlib/oauthlib/pull/700.

[2019-08-20 11:35] khenderick commented on #666
While I understand the reasoning for this change, this seems to be a breaking change for clients that send `client_secret` as a query parameter. I would have expected backwards compatibility or a major version bump. Is this behavior intended?

We're currently using django-oauth-toolkit and clients are sending `username`, `password`, `client_secret`, `client_id` and `grant_type` as query parameter.

[2019-08-26 09:49] JonathanHuot commented on #686
Hi @thedrow, I'm not much familiar with the requests-oauthlib/compliances folder, but could it be there ?

Also, after digging into the docs, it seems that Azure describes it as an OAuth2 flow, not OAuth1.

[2019-08-26 10:08] thedrow commented on #686
It's your call.
In my opinion we should only include something here if it is commonly used.
Otherwise, it should be in a different package.

[2019-08-26 10:25] JonathanHuot commented on #597
BackendApplicationClient is always confidential.
MobileApplicationClient is always public.

About the others, they are sometime confidential, sometime public.
I think we can rely on the existence of the client_secret to define if they are confidential or public.
However, it means that's not a class method but an instance method.

Thoughts?

Legacy aka ROPC:
https://tools.ietf.org/html/rfc6749#sect

[2019-08-26 10:33] #695 closed

[2019-08-26 12:17] JonathanHuot commented on #666
The support of query for POST is more a side-effect than the desired behavior. I understand it break your client, so I'd suggest to pinpoint to <3.1
Also, please consider to upgrade asap since it involves security concerns (secret are shown in logs, in proxy, across multiple unintended locations).

[2019-08-26 14:43] jvanasco commented on #597
I based my list off of the current implementations which use the RFC concept of confidential.  The docstrings for most (all?) of these say public or confidential and refer to the rfc’s meaning of the term; for example, WebApplicationClient states it is confidential in the class docstring.

[2019-08-26 15:20] skion commented on #597
I agree this is how it should be in practice, but technically it is still possible to have a public client using a `client_secret`. The [best practices](https://tools.ietf.org/html/rfc8252#section-8.5) state the following about this situation:

If we do what you suggest, the class would be marked as `confidential` whilst according to the RFC it "MUST" be treated as `public`. I feel that someone mi

[2019-08-30 09:56] #698 closed

[2019-09-09 04:00] mmotahar-ia opened #701 "Issues in constructing the OAuth2Session with scope"
**Describe the bug**
When preparing an Oauth 2.0 request that includes scope, As per the the following link, We should be able to pass the scope

https://requests-oauthlib.readthedocs.io/en/latest/api.html#requests_oauthlib.OAuth2Session

`classrequests_oauthlib.OAuth2Session(client_id=None, client=None, auto_refresh_url=None, auto_refresh_kwargs=None, **scope=None**, redirect_uri=None, token=None

[2019-09-10 08:04] JonathanHuot commented on #701
Hi @mmotahar-ia, it seems related to the requests-oauthlib's fetch_token function which does not use the scope. It works for WebApplication because the "scope" is passed into the authorization request and not in the fetch_token. However, as you mentioned, it does not work for LegacyApplication and the same function is used for BackendApplication.

An issue and PR has already been discussed in the

[2019-09-10 08:04] #701 closed

[2019-10-17 06:26] IvanAnishchuk commented on #552
Yeah, totally. `SHOULD` means it's not forbidden to include it and some implementations may choose to include it, for example if it's beneficial to track token refreshing for client credentials clients. And compliant clients should ignore any response parameters they don't understand so there should be no problem there too.

It'd also change `BackendApplicationClient` so it can emulate "refreshing

[2019-10-17 10:11] JonathanHuot commented on #111
The RFC7523 specification is final since a couple of years now, and the overall spec is split into the Client Authentication part and the Authorization Grant part. Also Client vs Provider distinction should be done.

Authorization Grant part is implemented on client side here: https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/clients/service_application.py and we have a curr

[2019-10-18 17:00] IvanAnishchuk commented on #613
Perhaps, instead of relying on any particular endpoint implementation to put those grant types (and token handlers!) into some private dict they could be Server's public attributes from the beginning instead? It shouldn't break any current non-default workflow, I think, and would only require adding a few `self.` references.

Alternatively they could live in some more public dictionary right from

[2019-10-18 17:19] IvanAnishchuk commented on #560
rfc7522 [Security Assertion Markup Language (SAML) 2.0 Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://tools.ietf.org/html/rfc7522) would be useful for many enterprise consumers and probably shouldn't take too much effort once rfc7523 is done.

And while I understand that we shouldn't rush implementing draft specs, it would be great if oauthlib were at least prepared

[2019-10-18 17:29] duaneking commented on #560
I agree, no matter what rfc7523 is a higher priority.

[2019-10-19 15:25] JonathanHuot commented on #613
That's very good comments and I approve all what you said. Any chance of having a PR with this? 😅

[2019-10-19 15:30] JonathanHuot commented on #560
I totally agree with you. Also, I am currently improving some part of the documentation to help contributors adding new grant types.

Please, have a look and comment on https://github.com/oauthlib/oauthlib/pull/702 (WIP).

[2019-10-20 01:50] IvanAnishchuk commented on #613
@JonathanHuot Let's start with the easy parts: #703 -- kwargs logic requires some decisions as we can't simply pass the whole **kwargs dictionary to every grant there (custom validators, `pre_auth`, `post_token` and such often have to be different). Perhaps we could allow optionally passing a bunch of dictionaries like `auth_grant_kwargs` that would be dispatched to appropriate constructors or som

[2019-10-28 20:48] JonathanHuot commented on #678
@jleclanche, @jezdez, any progress so far?
@singingwolfboy, any updates on requests-oauthlib ownership/write access?

Thanks

[2019-10-28 21:42] singingwolfboy commented on #678
@JonathanHuot: I believe @sigmavirus24 gave me access to the requests-oauthlib repo, but [it seems that he is on hiatus from open source development, for an indefinite length of time](https://blog.ian.stapletoncordas.co/2019/02/open-sources-affects-on-a-career.html). Seems like the best option here is to [use the support channels documented on the Requests website](https://3.python-requests.org/co

[2019-10-28 22:12] jleclanche commented on #678
I've not received an answer from @jezdez in moving DOT out of jazzband. Can someone who would follow up on it file an issue [here](https://github.com/jazzband-roadies/help/issues)?

[2019-11-08 10:38] JonathanHuot commented on #235
Any PR are welcome! Also, few changes have been introduced since, maybe the use-case is no longer reproducible. A unit test must be added to confirm that the behavior is following the RFC.

[2019-11-08 14:54] horida opened #707 "admin_policy_enforced error not handled by raise_from_error"
**Describe the bug**
From Gsuite I received these params with an error
[code]
However, it is not raise here:
https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/parameters.py#L431

Because there is no error class found for it.

**How to reproduce**

Sorry, but I don't know, just found this post which might be related:
https://customerfx.com/article/how-to-resolve-error-400-adm

[2019-11-12 20:58] timgates42 opened #709 "Small typo in oauthlib/openid/connect/core/grant_types/dispatchers.py"
**Describe the bug**

Should read which instead of wich.

**How to reproduce**

Observe the AuthorizationTokenGrantDispatcher._handler_for_request in the file oauthlib/openid/connect/core/grant_types/dispatchers.py

**Expected behavior**

Should read which instead of wich.

[2019-11-12 21:44] #709 closed

[2019-11-15 18:43] JonathanHuot commented on #707
Hi @horida, could you tell us which oauthlib version are you using ? It seems we fixed a similar issue in @ https://github.com/oauthlib/oauthlib/issues/431 .
All unknown OAuth2.0 errors should hav been inside a `CustomOAuth2Error` exception.

[2019-11-18 07:47] horida commented on #707
Hi @JonathanHuot I used an old version, 2.0.0, but I checked in the most recent code and there is no error class that is dedicated to `admin_policy_enforced`.
However, I missed the CustomErrorClass. So, there is no plan to adapt the library and add missing errors to the error class?
Thanks!

[2019-11-20 11:07] JonathanHuot commented on #707
Hi @horida, the `admin_policy_enforced` exception is not standard and is specific to GSuite. OAuthlib only implement the exceptions found in open standards, and relies on the new `CustomOAuth2Error` to catch all custom exceptions.

You can implement a code similar to:

	try:
	    ...
	except CustomOAuth2Error as exc:
	    if exc.error == "admin_policy_enforced":
	        ...

[2019-11-20 13:36] horida commented on #707
Thanks for clarification @JonathanHuot

[2019-11-20 13:36] #707 closed

[2019-11-24 12:59] jezdez commented on #678
Hi friends, sorry for keeping you all waiting, I want to clarify a few things since django-oauth-toolkit hasn't be in Jazzband [for a very long time](https://github.com/jazzband-roadies/help/issues/94). In the interest of Jazzband's "open door" policies (basically everyone can join the Jazzband GitHub org and directly contribute), getting feedback from everyone having contributed since then seems

[2019-11-25 01:53] jleclanche commented on #678
I'm currently away until the 5th of December. I'm happy to do some legwork after that date to help out!

[2020-01-13 18:15] pietdaniel opened #712 "Add redirect_uri to authorization_code model in `docs/oauth2/server.rst`"
**Describe the feature**

The [authorization_code model description here](https://github.com/oauthlib/oauthlib/blob/master/docs/oauth2/server.rst#authorization-code) does not include a `redirect_uri` field. In [oauthlib/oauth2/rfc6749/request_validator.py](https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/request_validator.py#L103-L107) it states that the `redirect_uri` shou

[2020-01-13 18:20] pietdaniel commented on #712
I have a fork with a potential fix: https://github.com/pietdaniel/oauthlib/commit/00d4d5a62d4bf18fd2642cd667f7e2002211668c

[2020-01-15 09:40] JonathanHuot opened #713 "Missing models sample for OpenID Connect/Provider"
**Describe the feature**

Ideally the documentation should mention all the datastore models required by the OpenID Connect flows. The current documentation has this section for OAuth2.0 (https://oauthlib.readthedocs.io/en/latest/oauth2/server.html#create-your-datastore-models) but it is missing for OIDC.

[2020-01-15 09:40] JonathanHuot commented on #712
Hi @pietdaniel, it was missing, thanks for adding it !

After reviewing this, I noticed that the `nonce` (for OIDC) is also missing but we never went to the whole OIDC model in the docs anyway. I have created https://github.com/oauthlib/oauthlib/issues/713 to follow-up on this.

[2020-01-15 09:41] JonathanHuot commented on #712
The changes you did on the docs LGTM. Please feel free to open a PR.

[2020-01-15 21:31] pietdaniel commented on #712
PR: https://github.com/oauthlib/oauthlib/pull/714

[2020-01-16 15:42] singingwolfboy commented on #678
I just spoke to @denizdogan, and he's also interested in helping out with requests-oauthlib. He and I both believe that the existing code is in a bad state, and a ground-up rewrite might be a good idea -- which also allows us to create a nicer developer API. He's going to create a new repository and start working on a new project which _may_ end up replacing requests-oauthlib at some point in the

[2020-01-19 11:30] voegtlel opened #715 "Documentation for OIDC provider unclear"
**Describe the bug**

Hi there, I'm trying to implement the oidc provider in my framework, but I'm not really clear about the implementation:

The docs state:
[code]

Although, further down it says:
[code]

But if it's not implemented or I don't want to customize it, how SHOULD I call it?

Even if I'd implement it the very same way as `grant_types.py:GrantTypeBase.add_id_token`, the `nonce` parame

[2020-01-22 11:23] denizdogan commented on #678
@thedrow That's actually what I'm working on in my spare time, basically just a rewrite of requests-oauthlib but using httpx and possibly implementing other improvements as I find them. The working name is uninterestingly httpx-oauthlib (no code online yet).

To be open and honest about it, I'm doing this mainly to figure out why requests-oauthlib has been designed the way it has been and to see i

[2020-01-30 23:33] #712 closed

[2020-02-04 20:02] cipriantarta commented on #415
Because for example `validate_user`(and other validation methods) might need(most likely will) to connect to a data store. Since that's an IO bound operation, one might want to use async/await.
If you define your validation method as `async def validate_user` it wont work, because the method is not called asynchronously from the grant handler.

[2020-02-05 09:59] thedrow commented on #415
I see.
That would require us to create another set of classes for async clients.

[2020-02-05 10:01] cipriantarta commented on #415
Indeed, it's something I've actually been working on for my current project, eventually I might create a PR here when it's done.

If you have suggestions on how to approach this, feel free to comment

[2020-02-13 19:42] denizdogan commented on #678
This might be a silly question, but I need to ask:

Is there anything lacking in [Authlib](https://docs.authlib.org/en/latest/changelog.html) now? I thought it was only for writing OAuth servers, because it really pushes that part in its tagline, but it seems like nowadays it has not only client support, but also Flask and Django integrations, async HTTPX support, PKCE support, OpenID Connect, etc

[2020-02-13 19:48] duaneking commented on #678
No.

Auth Zero is a private company that cant be trusted; They are funding that effort.

I joined this project originally because Auth0 as a company was abusively trying to buy and leverage its way into ownership or control of every possible login library because to them its best to have less competition; They have simply kept doing that in an effort to raise prices on startups and try to control

[2020-02-13 21:47] denizdogan commented on #678
@duaneking I understand - I was not aware of Auth0's business practices or even that they were associated with Authlib. I appreciate your response and will reconsider the idea of using Authlib. That being said, from what I could find, Auth0 is merely a "sponsor" of the project and Hsiaoming is running their own business which is otherwise unrelated to Auth0. Is my understanding correct or does the

[2020-02-13 22:18] duaneking commented on #678
No.

Auth0 does that "sponsorship' in a few ways, what you seeing is the front end part.  You should consider any dev actively taking money from them either directly or indirectly through a project to be tainted/controlled/influenced by them on the backend as well as it's not uncommon for companies to force devs to sign agreements they can't talk about in public in order to direct branding and mit

[2020-02-25 01:40] lepture commented on #678
@denizdogan @duaneking Auth0 is just one sponsor of Authlib, it has nothing to do with "control" "manage" "license" or any other things of Authlib. You can consider it as an advertisement.

Auth0 has tried to contact me to create an integration for them specifically, but I've refused that. You won't see any auth0 related code in Authlib. I don't understand why that is a problem, the information is

[2020-02-25 01:46] duaneking commented on #678
I don't trust Auth0.  Their tactics are in my mind, unethical.  The fact they want to throw money around is fine but that should NEVER give them ANY control.

[2020-03-06 17:09] polamayster opened #718 "Misleading method name with "magic" fallback"
https://github.com/oauthlib/oauthlib/blob/b71636e85f845b79b5a56de6480fcba9d1415720/oauthlib/oauth2/rfc6749/tokens.py#L240-L257
It would be much more predictable/cleaner if method either did not fallback to body payload/uri_query on line 255:
https://github.com/oauthlib/oauthlib/blob/b71636e85f845b79b5a56de6480fcba9d1415720/oauthlib/oauth2/rfc6749/tokens.py#L254-L255
or method was renamed to reflec

[2020-03-07 13:23] Alemmi opened #719 "Why get_authorization_code_scopes is called before validate_code?"
The validator function get_authorization_code_scopes is called before validate_code, and it is not logical. Why?

- I'm using OIDC
- I'm writing server side

[2020-03-13 11:28] JonathanHuot commented on #718
Yes you're right, I think this part of the code deserve a refactoring to allow https://github.com/oauthlib/oauthlib/issues/609 , which is essential .

[2020-03-13 13:05] JonathanHuot commented on #719
Hi @Alemmi,

I think that's related to a oauthlib design issue when doing OIDC.
oauthlib needs the "scope" to determine if we have "openid" in it. If yes, it calls the OpenID flow, else it calls the OAuth2 flow. That's the Dispatcher.

Any PRs welcome to improve the situation, but it will involves to find another mechanism to replace the Dispatcher.

If oauthlib remains as it is, I'd recommand to

[2020-03-23 19:41] alexforever86 commented on #383
Getting the following error while installing:

`pkg_resources.DistributionNotFound: The 'cryptography; extra == "signedtoken"' distribution was not found and is required by oauthlib`

[2020-03-24 07:19] hoylen opened #721 "In setup.py merge "signedtoken" extras into "rsa" extras so RSA features work"
**Describe the bug**

The _setup.py_ install script currently defines two "extras" that can be installed:

- **rsa** which only installs PyCA's `cryptography` package, and
- **signedtoken** which installs both `cryptography` and `pyjwt` packages.

https://github.com/oauthlib/oauthlib/blob/d4716eb95e9590bb47381a64cda1d57bad8dd907/setup.py#L21-L23

https://github.com/oauthlib/oauthlib/blob/d4716eb95

[2020-03-26 07:58] hoylen opened #722 "Support for RSA-SHA256 and RSA-SHA512 in OAuth 1.0a"
**Describe the feature**

Support new OAuth 1.0a _signature methods_ that use SHA-256 and SHA-512 hash algorithms. These would function exactly like the standard RSA-SHA1 _signature method_, but replaces the SHA-1 algorithm with SHA-256 or SHA-512 algorithms.

OAuthLib already implements the HMAC-SHA256 _signature method_, so there is precedence for supporting _signature methods_ beyond those spec

[2020-04-03 09:08] hoylen opened #724 "Consistency between setup.py and requirements.txt"
**Describe the bug**

The versions of package dependencies in _setup.py_ and _requirements.txt_ are inconsistent.

For the `extra_requires`, _setup.py_ references these packages:

https://github.com/oauthlib/oauthlib/blob/d4716eb95e9590bb47381a64cda1d57bad8dd907/setup.py#L21-L23

The _requirements.txt_ contains:

https://github.com/oauthlib/oauthlib/blob/d4716eb95e9590bb47381a64cda1d57bad8dd907/re

[2020-04-09 08:47] smarie opened #725 "OAuth2 `LegacyApplicationClient` should honor default scopes in `prepare_request_body`"
Hi there,

I found this while using `requests-oauthlib` (https://github.com/requests/requests-oauthlib/issues/406) but it actually belongs here.

Consider this code:

[code]

I currently have to include the `scope` in `fetch_token()` to get a valid token, because the default scopes defined in `LegacyApplicationClient` are not used in `LegacyApplicationClient.prepare_request_body(...)` when `scope=

[2020-04-17 15:37] JonathanHuot commented on #724
I agree with a lot of what you described.

To add more, I am not sure the `pip install oauthlib[xyz]` variants are used by anyone ?

Also, if someone want to propose a PR to migrate to pyproject.toml, that's will also remove some crapyness of the setup-things.

[2020-04-17 15:47] JonathanHuot commented on #715
Hi @voegtlel, sorry for the delay. It seems this part of the documentation was not updated.

One of the main difficulty by implementing a provider is to know what are the hooks required to be implemented.

I had created this graph: https://oauthlib.readthedocs.io/en/latest/oauth2/server.html#oauth2-0-provider-flows to help for OAuth2.0 flows, unfortunately I didn't had the time to do the same for

[2020-04-19 11:44] smarie opened #728 "OAuth2 `xxxApplicationClient` should honor default scopes from constructor"
Same than #725 but for the 3 other classes: `MobileApplicationClient`, `ServiceApplicationClient` and `WebApplicationClient`.

[2020-04-19 12:10] smarie opened #730 "OAuth2 base `Client` inconsistent `scope` handling"
This is the final step after PRs #682 #726 and #729 : I found out that even the base `Client` has inconsistent management of the `scope` attribute.

 - in `prepare_authorization_request` and `prepare_refresh_token_request` if a `scope` is provided, it is assigned to `self` forever, overriding any scope provided in the constructor

 - in `parse_request_body_response` and `prepare_refresh_body`, if

[2020-04-22 10:38] #730 closed

[2020-04-22 12:09] #725 closed

[2020-04-22 12:19] #728 closed

[2020-04-22 16:08] jcampbell05 commented on #626
I don't have bandwidth to finish this right now - so hopefully someone can pick this up or perhaps I can resume later on

[2020-04-23 21:28] LarryMartell opened #732 "Scope has changed from "profile openid email" to "User.Read profile openid email""
I am using the django_microsoft_auth package, which uses oauthlib. I am getting the error:

I found that that comes from validate_token_parameters and by commenting out the call to that the auth works. Obviously that is not a good solution. Any thoughts on this?

Here is the stack trace:

[code]

[2020-04-26 22:35] JeremyVriens commented on #732
Hello @LarryMartell , I don't think this is a bug in OAuthlib; looking at the microsoft_auth package, I did found something about this User.Read scope changes: https://github.com/AngellusMortis/django_microsoft_auth/blob/master/docs/usage.rst#sliencing-scope-has-changed-warnings. Maybe this helps you a bit (I can't help you further as I would need more context). As I mentioned, I don't think it's

[2020-04-29 14:53] LarryMartell commented on #732
Setting that env var did not fix it for me. All the examples show setting it when using the django devel server. I am using nginx/uwsgi. I tried setting it for that, but it had no effect. As for the version, I am running the latest master - wouldn't that be version 2.x?

[2020-04-30 07:46] thedrow commented on #732
Please file an issue upstream.
If it turns out to be a problem on our end we will reopen this issue.

[2020-04-30 07:46] #732 closed

[2020-05-03 22:11] kevin-brown commented on #732
Here's a link to the upstream issue about this: https://github.com/AngellusMortis/django_microsoft_auth/issues/400

[2020-05-04 20:50] 0az commented on #678
For what it's worth, the main feature OAuthlib has over Authlib is an agnostic approach.

<details>
<summary>Tangent</summary>
Authlib's httpx integration is a version behind, which a small but nonzero concern. Two PRs have been filed on this issue: lepture/authlib/pull/219, lepture/authlib/pull/209

I also have a small, but nonzero concern over @lepture's copyright assignment policy. It's 100% un

[2020-05-07 22:28] duaneking commented on #678
I'm not a fan of one person owning an entire communities work, myself.

[2020-05-08 00:39] auvipy commented on #678
I'm interested in becoming a maintainer.

[2020-05-08 17:30] JonathanHuot commented on #678
Hi @auvipy, you are more than welcome to the project, I sent an invite !

[2020-05-08 18:27] auvipy commented on #678
got it. but no merge or approval right now.

[2020-05-08 20:41] JonathanHuot commented on #678
Can you check again ? I think I was confused about org, team and project. Now you and everyone in the oauthlib org should have more permissions.

[2020-05-10 08:48] #168 closed

[2020-05-10 08:49] #242 closed

[2020-05-10 08:52] #661 closed

[2020-05-12 13:25] JonathanHuot opened #736 "Release 3.1.1"
Based on latest contributions and the previous release was not so recent, I suggest to release 3.1.1.

That will be a good opportunity for @auvipy to make your first release, if you want ;)

BTW: to synchronize that will be helpful if you join the oauthlib gitter community.

[2020-05-12 14:25] auvipy commented on #736
what is the link? I would love to contribute

[2020-05-12 14:37] auvipy commented on #736
i joined!

[2020-05-12 16:06] JonathanHuot commented on #736
I tried to add milestone "3.1.1" to closed issues and PR. Then, it could be useful to create a PR with Changelog description, and maybe we could discuss based on that.

Once everything are in master, tagging the new version should trigger the build process to release a github version and pypi. I think we should probably document the release process as well.

[2020-05-12 17:08] auvipy commented on #736
that sounds reasonable to me

[2020-05-31 02:10] wiliamsouza commented on #626
No more in draft https://tools.ietf.org/html/rfc8628

[2020-06-08 09:42] auvipy commented on #736
hey, may I get your email? or you could shot me auvipy@gmail.com

[2020-06-13 00:53] hoylen commented on #722
Issue resolved by pull request https://github.com/oauthlib/oauthlib/pull/723.

[2020-06-13 00:53] #722 closed

[2020-08-29 04:19] hulk248 opened #738 "its show if 'Wikipedia' in query: TypeError: argument of type 'NoneType' is not iterable"
import webbrowser
import speech_recognition as sr
import wikipedia
import pyttsx
import datetime

print("Initializing jarvis")
MASTER = "Ritik singh"

engine = pyttsx.init()
voices = engine.getProperty('voices')
engine.setProperty('rate',120)

def speak(text):
    engine.say(text)
    engine.runAndWait()

speak("Initializing jarvis")
def wishme():
    hour = datetime.datetime.now().hour

    if ho

[2020-09-02 16:30] JonathanHuot commented on #738
not related to oauthlib

[2020-09-26 18:05] barredterra opened #739 "Error when scopes are separated by "+""
Please check https://github.com/frappe/frappe/issues/11038.

https://github.com/oauthlib/oauthlib/blob/d54965b86ce4ede956db70baff0b3d5e9182a007/oauthlib/oauth2/rfc6749/utils.py#L24-L31

Above method should accept `"+"` (and possibly `","`) as separators, not only `" "`. Especially since `"+"` is [commonly used](https://stackoverflow.com/a/1211256) as a space symbol in URL parameters, for example b

[2020-10-18 18:04] abe-winter opened #740 "with slack, validate_token_parameters fails with MissingTokenError"
**Describe the bug**

When using slack as a provider, the `parse_token_response` method fails with `MissingTokenError` (inside `validate_token_response`).

**How to reproduce**

From requests-oauthlib, something like:

[code]

**Expected behavior**

Not sure; I'm guessing slack's reply format is non-standard.

Slack's reply format [documented here](https://api.slack.com/authentication/oauth-v2#exc

[2020-10-26 11:54] thedrow commented on #740
I don't think we should support any non-standard use case.
Is it not possible to override `validate_token_parameters` and adjust it to your usecase?

[2020-10-26 14:54] abe-winter commented on #740
you mean override using configuration? or like monkeypatch

[2020-10-26 15:18] thedrow commented on #740
I mean inheriting from the relevant class and constructing a client from it.
The current design allows it.

There's no need for monkeypatching.

[2020-10-26 15:24] abe-winter commented on #740
neat, thank you.

that works for my use case.

closing this, thanks + sorry to bother.

[2020-10-26 15:24] #740 closed

[2020-11-04 12:59] mvaled commented on #736
What's the status of this release?

[2020-11-04 13:24] JonathanHuot commented on #736
@mvaled : it is ready, only some paperwork are still needed to deploy it.
@auvipy : do you have time to finish it for this year?

[2020-11-10 03:23] amans330 commented on #601
@JonathanHuot Is oauthlib now providing client support for pkce? If yes, please let me know how can I use it or point me in the right direction.

[2020-11-10 16:32] JonathanHuot commented on #601
Hi, oauthlib is providing PKCE for OAuth2 Provider side. The integration for OAuth2 Client still need to be done; any PRs are welcomed.

[2020-11-10 18:56] amans330 commented on #601
Hi @JonathanHuot that sounds like a good idea. I have been looking for a python library that supports pkce on the client-side for a while now. Authlib comes close but is not working properly, and lacks proper documentation as well. I can work on the client-side. Should I create a new feature request or is there an existing one?

[2020-11-10 19:04] amans330 opened #741 "Add client side implementation for PKCE"
Client-side PKCE for OAuth2 [RFC 7636](https://tools.ietf.org/html/rfc7636) is required for applications to have secure communication with the authorization server. OAuth 2.0 public clients utilizing the Authorization Code Grant are susceptible to the authorization code interception attack. PKCE mitigates this issue by adding an extra challenge/verifier parameter with each request it sends to the

[2020-11-11 23:26] amans330 commented on #741
I am working on this feature. Feel free to get in touch for any comments.

[2020-11-17 08:19] auvipy commented on #736
I can, but do I need PyPI access for that?

[2020-11-19 11:05] adnanmuttaleb opened #742 "How to integrate as an idP with AWS cognito?"
The [guide](https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_create_oidc.html#manage-oidc-provider-console) for adding OIDC provider in aws cognito says that you should add a **Thumbprint** for your idP. Is the Thumbprint equivalent  to the public-key, used to verify the issuer of the id tokens? how to get it?

The guide mention  `/.well-known/openid-configuration` endpoint and

[2020-11-22 06:55] amans330 commented on #741
Created PR --> https://github.com/oauthlib/oauthlib/pull/743

[2020-12-02 16:11] potiuk opened #744 "Error when new PIP resolved accesses Oauthlib data"
**Describe the bug**

In Airflow, we are experiencing problems when we are trying to use the PIP released 2 days ago which has the new resolver on by default.

ERROR: Requested oauthlib[signedtoken]>=1.0.0 from https://files.pythonhosted.org/packages/e5/54/4f96c51b171cf3a64a04b8c5167268803205bc5943b5cdf70bd770727b88/oauthlib-1.1.0-1.tar.gz#sha256=0f786c5573248a38efa86c48c59c0c93140ac836ab2a246aeef

[2020-12-03 09:32] thedrow commented on #744
I tried `pip install oauthlib[signedtoken]>=1.0.0`.
It works as expected. I'm not sure what else we can do.

[2020-12-03 11:22] potiuk commented on #744
Maybe ytou can remove the offending library ? I can also try to add limitation to oauthlub in our case!

[2020-12-03 11:52] pradyunsg commented on #744
Try `pip install oauthlib==1.1.0`, since that's the version that's failing. pip 20.3 has a resolver that backtracks on conflicts.

[2020-12-03 11:59] potiuk commented on #744
Confirmed by PIP developers that yanking this version should fix it. https://github.com/pypa/pip/issues/9203#issuecomment-737891765

Would the maintainers be so kind to yank it?

[2020-12-03 13:23] kaxil commented on #744
If you guys can yank (https://pypi.org/help/#yanked) that release, it should help us at Airflow and hopefully more libraries like us to use the new PIP resolver without error.

Really appreciate all the work you guys are doing

[2020-12-03 16:30] JonathanHuot commented on #744
Hi,
I have yanked the release. Let me know if it is ok now.
Regards

[2020-12-03 22:44] potiuk commented on #744
Thanks a lot ! Really appreciate.

Unfottunately, despite PIP maintainer confirmation, it did not work: https://github.com/pypa/pip/issues/9203#issuecomment-738395432

Feel free to unyank @JonathanHuot

[2020-12-04 15:51] potiuk commented on #744
Just update - don't unyank it please yet :). Seems that fix is coming https://github.com/pypa/pip/issues/9203

[2020-12-10 19:16] ggiill opened #745 "populate_token_attributes() ValueError for float expires_at values"
https://github.com/oauthlib/oauthlib/blob/d54965b86ce4ede956db70baff0b3d5e9182a007/oauthlib/oauth2/rfc6749/clients/base.py#L516

Some tokens have an `expires_at` value as a float (example: `1612807300.1613762`) which causes this line to throw a `ValueError: invalid literal for int() with base 10`. This could be solved using `int(float(response.get('expires_at')))` (or rounding to not truncate).

[2020-12-11 19:09] aliev commented on #415
If you look for a purely async oauth2 implementation, there is aioauth: https://github.com/aliev/aioauth, that I'm working on it to resolve this issue. It is MIT-licensed, fully test-covered, and simple, and I'd love to get your feedback or involvement.

[2020-12-14 13:56] JonathanHuot commented on #736
The release rollout must be done by creating a PR with all changelog and version changes. Once it is reviewed and merged, we can tag the git revision and tagging will automatically release a pypi release with Travis.

[2020-12-14 14:59] auvipy commented on #736
oh OK

[2020-12-14 18:09] barredterra commented on #739
Seems to be fixed, couldn't reproduce.

[2020-12-14 18:09] #739 closed

[2021-01-27 17:59] recvfrom commented on #744
Looks like this is fixed now (tested using pip 21.0)

[2021-02-01 12:14] thedrow commented on #744
Thanks for letting us know :)

[2021-02-01 12:15] thedrow commented on #744
@JonathanHuot Did we unyank the release yet?

[2021-02-01 12:38] tevansuk opened #746 "OIDC Hybrid Flow - nonce not passed to `add_id_token`"
When using OIDC Hybrid Flow, the nonce not passed when calling `GrantTypeBase.add_id_token`, despite it being present in `request.nonce`.

In the OIDC implicit flow, `add_id_token` is overridden to pull the nonce from `request.nonce`. In OIDC Authorization Code flow, we pull the nonce from the grant, but in Hybrid Flow nothing is done to handle the nonce, so it is omitted from the ID token. Puttin

[2021-02-06 19:59] JesperHerrloff opened #748 "invalid oauth1 signature with HTTP method POST to magento Webservice"
**Describe the bug**

A clear and concise description of what the problem is.
It seems lite some issues with the signature generation for HMAC-SHA1 with Oauth1. I am using requests-oauthlib to connect to magento RestApi. Get Requests works fine, but not Post.

**How to reproduce**

Install requests-oauthlib insert your credentials, client_key,client_secret_key, resource_owner_key, resource_owner_s

[2021-02-07 06:06] JesperHerrloff commented on #748
Found the issue.

When using requests and post data its possible to use the json parameter in requests.
So for reference for people struggling with invalid signature in Magento2 and python oauth.

`
object_to_send = { 'data': 'demo'}
requests.post('url.to/webservice/action', json=object_to_send, auth=auth)
`

Then it will most likely work

[2021-02-07 06:06] #748 closed

[2021-02-12 05:31] #746 closed

[2021-02-23 11:32] wibek commented on #745
Just above that `self._expires_at` is made a float:
[code]

[2021-02-25 16:35] JonathanHuot commented on #744
I have unyanked the release, if someone could confirm it still work, that will be great :)

[2021-02-25 16:50] JonathanHuot commented on #745
The usage of `expires_at` is not defined in RFC, so it seems confusion is in the code as well. We can assume it is an int similarly to `expires_in`.

Any PR to fix its usage and add unit test to cover this edge-case is welcome.

[2021-02-25 19:55] potiuk commented on #744
Works :)

[2021-03-08 11:12] nsklikas opened #751 "Refresh id tokens"
**Describe the feature**
It is not possible with the current implementation to issue ID tokens on refresh.

**Additional context**

The refresh token modifiers (https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2/rfc6749/grant_types/refresh_token.py#L66) take only 1 argument while the authorization code modifiers take 3 (https://github.com/oauthlib/oauthlib/blob/master/oauthlib/oauth2

[2021-03-10 11:09] thedrow commented on #751
Please do.

[2021-03-17 14:02] r4fek commented on #742
@adnanmuttaleb did you manage to solve this issue?

[2021-03-17 17:06] adnanmuttaleb commented on #742
@r4fek [this](https://stackoverflow.com/questions/64895604/how-aws-cognito-verify-the-identity-token-issued-by-my-own-idp/64952181#64952181) may help you, I added a question and answer.

[2021-04-09 02:50] Borthralla opened #754 "Add is_expired Method for Clients"
Currently, Oauth2 clients contain properties `expires_in` and `_expires_at`.
In the method which adds the token to a request, the fields are used liked this:

[code]

It would be useful to someone using the client to be able to check whether the token is expired before I initiate a request. Currently, in order to do that I have to go into the code and see that it uses the time library and duplicat

[2021-04-20 16:34] default-303 commented on #745
hey, can i have this issue? I'm just starting with open source, so this will be a good start ig.

[2021-04-26 08:05] kazkansouh opened #755 "OIDC request_type "code token" does not save access token"
I was experimenting with `django-oauth-toolkit` and noticed when setting a request type of `code token` the returned access token was not valid because it was not saved into the database. Looking into the issue I believe that during the hybrid flow for `code`, after the token is generated there is a missing call to `request_validator.save_token(code, request)`.

That is, the following code:

https

[2021-04-26 09:18] valentijnscholten commented on #736
I think this is really needed because with the newer pips installing requirements may break due to the dependency on an old PyJWT version: https://github.com/oauthlib/oauthlib/commit/b69fa53fd836dc559aa7fcd78ce075bcbe361629

[2021-04-27 03:19] ggiill commented on #745
@default-303 go for it!

[2021-04-27 07:20] nsklikas opened #756 "prompt=none is not handled correctly"
**Describe the bug**
The behavior  for handling `prompt=none` described in the OIDC spec (https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) is:
- If `prompt=none`, return error it user isn't authenticated
- If `prompt=none + something else` then return an error.

The current implementation raises an `OIDCNoPrompt` exception whenever we get `prompt=none`, the code to properly handl

[2021-04-28 04:25] default-303 commented on #745
@ggiill thanks, I did the following changes
[code]
and passes all the tests is when i run `pytest`

But what kinda tests you want me to add ? like a simple `typecheck` test something like this -
[code]

or a full on `mock test` ?

[2021-04-30 10:25] jinji-hanbin opened #758 "the library Do you support AUTOAPPROVE"
Spring OAuth2 support autoapprove，Skip the user authorization page

[2021-05-01 08:12] #756 closed

[2021-05-06 07:36] jinji-hanbin commented on #758
@thedrow

[2021-05-06 07:38] thedrow commented on #758
This library does not support auto approval as far as I know.

[2021-05-06 07:41] jinji-hanbin commented on #758
@nsklikas

[2021-05-06 07:42] jinji-hanbin commented on #758
@auvipy @nsklikas

[2021-05-10 07:53] nsklikas commented on #758
I'm not sure what you are referring to. Do you mean `prompt=none` in the OIDC flow?

afaik it is up to the implementation (the library calling oauthlib) to decide whether the user will be requested to authenticate.

[2021-05-10 09:41] Sri-krishna98 commented on #736
Yes oauthlib 3.1.0 is already causing CVE issues checkout PRISMA-2021-0041, the CVE scan setup in our pipeline throws a high severity vulnerability for this package, can you please update it as it's been quite some time

[2021-05-12 06:41] rolweber commented on #736
Hmm, this issue was created a year ago, and still no new release. Things seem to have stalled a bit.

That [CVE 2021-0041](https://cve.mitre.org/cgi-bin/cvename.cgi?name=2021-0041) is currently reserved, but not yet disclosed. Maybe a fix is in the making.

[2021-05-12 08:10] nsklikas commented on #758
What I don't understand about your questions is: oauthlib offers you a server and some hooks, how you choose to authenticate the user is up to your implementation and the frontend that you choose to use.

[2021-05-12 09:50] JonathanHuot commented on #736
Give me a couple of days and I will trigger the release. Thanks for your patience

[2021-05-12 10:08] Sri-krishna98 commented on #736
Thanks for looking into this👍

On Wed, May 12, 2021, 3:21 PM Jonathan Huot ***@***.***>
wrote:

[2021-05-14 07:56] #758 closed

[2021-05-18 12:02] sharonbz commented on #741
This looks like a security issue, is it going fo be fixed in the next release?
This is similar to [CVE-2020-7692](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7692) that was assigned to the google-oauth-java-client package.

[2021-05-18 17:31] amans330 commented on #741
I have raised the above PR. Should be fixed when it's approved.

[2021-05-26 17:59] n2ygk opened #759 "OIDC misinterprets "Authorization: Basic" as Bearer"
**Describe the bug**

An "Authorization: Basic ..." header is misinterpreted as "Authorization: Bearer ..." in: https://github.com/oauthlib/oauthlib/blob/2b8a44855a51ad5a5b0c348a08c2564a2e197ea2/oauthlib/openid/connect/core/tokens.py#L37-L44

This is handled correctly (by checking for the type) in: https://github.com/oauthlib/oauthlib/blob/2b8a44855a51ad5a5b0c348a08c2564a2e197ea2/oauthlib/oauth2/r

[2021-05-27 08:15] default-303 commented on #745
@ggiill hey, can i get a review ?
lmao its been a month even i forgot abt it.

[2021-05-27 21:20] jvanasco commented on #374
The following commit further breaks mimicking broken servers, by banning incoming query args on POST params.

https://github.com/oauthlib/oauthlib/commit/ee06f0f3349d7fd656d35a2eef40ee18fb74e303

While I appreciate and personally build spec compliant servers, the reality is there are many broken ones in the wild.  The utility of this library is greatly diminished when the design choices force spec

[2021-05-29 14:14] n2ygk opened #762 "travis-ci.org is shutting down May 31, 2021. Switch to GHA?"
**Describe the feature**

travis-ci.org is [shutting down](https://blog.travis-ci.com/2021-05-07-orgshutdown) at the end of May 2021 (in 2 days!):

Many OSS projects have converted to using GitHub Actions. Consider doing the same or convert to using travis-ci.com

[2021-05-29 14:15] n2ygk commented on #762
@JonathanHuot ^

[2021-05-29 14:22] n2ygk opened #763 "isort not being run from CI"
**Describe the bug**

isort is defined in tox.ini but is not invoked by .travis.yml

**How to reproduce**

1. Run `tox -e isort` locally and see all the import changes that are required.
2. Wonder why PR checks are not flagging these.
3. See that .travis.yml doesn't run isort.

**Expected behavior**

All the tests in the tox.ini should be run by the CI.

**Additional Context**

Enabling isort at t

[2021-05-29 20:03] #759 closed

[2021-05-30 08:02] thedrow commented on #374
The way to do it is to override the default behavior and implement the behavior the server expects.

[2021-05-30 19:36] ggiill commented on #745
@default-303 I'm not a maintainer - pinging @JonathanHuot. You probably want to put in a PR for review as well.

[2021-05-31 20:23] JonathanHuot commented on #762
Thanks for the heads-up; it seems travis-ci.org is only "migrated" to travis-ci.com without major changes; so I think the less effort should be to move the hooks and try... I am currently releasing 3.1.1 with travis-ci.org, and then, we can switch to travis-ci.com for 3.2.0.

I never used GitHub Actions, so I'm not sure to get the benefits... but feel free to expose your view if you want.

[2021-06-01 12:38] JonathanHuot commented on #763
Before integrating to CI, I think the isort needs to be passing in master, correct?

[2021-06-01 13:59] n2ygk commented on #763
Yes -- perhaps as part of the same PR....

[2021-06-01 21:27] JonathanHuot commented on #736
Release is finally out. Sorry for the delay, and enjoy...
3.2.0 coming soon with remaining PRs

[2021-06-01 21:27] #736 closed

[2021-06-18 15:54] JonathanHuot commented on #755
Hi, it seems a mistake for hybrid mode; I suppose a problem of oauthlib itself. Does anyone has some time to have a look on it for a PR ?

[2021-06-18 16:00] JonathanHuot commented on #754
I suppose the method can have an additional argument `verify=`by default set to `True` but could also be a dict like:
[code]

A little bit alà pyJWT https://pyjwt.readthedocs.io/en/latest/usage.html#reading-the-claimset-without-validation

Thoughts?

[2021-06-23 20:38] Borthralla commented on #754
That doesn't seem necessary to me, the existing method is fine as it is. I don't think there's a good reason not to check the expiration time when adding the token.
What I'm proposing is simply making the expiration check a regular method that is available to someone using the library. The advantage of that approach is that the expiration check can be done directly without the try/catch.
For examp

[2021-07-06 15:30] satiowadahc opened #768 "Requests-Oauthlib appears to be unmaintained"
**Describe the bug**

There has been no accepted changed in the last few years, missing some updates that are sitting in PR's

**How to reproduce**

Start an FOSS project

**Expected behavior**

Community Maintains projects.

**Additional context**

Jokes of the boilerplate aside. It seems this is a relatively small library and closely related to Oauthlib. Is there any thought of
adding the releva

[2021-07-06 16:44] thedrow commented on #768
If you'd like to fork and have us transfer ownership of the fork to this organization, I think that might work.

[2021-07-09 07:33] shivahari opened #769 "Blog post on implementing Google SSO with oauthlib"
**A blog post that simplifies implementing Google SSO with oauthlib**

I tried to implement Google SSO with oauthlib recently, while there are many useful post separately on oauthlib and Google SSO, I felt there isn't a pythonic example post that simplifies the steps.
Creating a simplified tutorial will help any newbie like me

[2021-07-14 20:38] kazkansouh commented on #755
I'd be happy to submit a PR that implements the solution I outlined above - assuming it is good?

[2021-08-09 21:56] PrestonTaylor commented on #562
I have seen production systems which require you to request a refresh token in the scope and they then remove that scope in the reply. This is perfectly acceptable per the RFC and throwing an exception for it makes this library completely unusable unless I'm missing something.

[2021-08-09 22:07] PrestonTaylor commented on #562
Still seeing this issue in Microsoft Graph. Is there any reason to discuss this beyond the RFC? env variables seems like a very clunky way of handling security settings.

[2021-08-10 12:12] thedrow commented on #562
Contributions are always welcome :)

[2021-08-11 17:38] JonathanHuot commented on #745
@default-303 : would you mind submitting a PR that we can easily review & discuss ? Thanks in advance!

[2021-08-11 17:41] JonathanHuot commented on #754
The problem with this approach is twofold:
- It becomes incompatible with previous interface
- Using Exception to return different states of a calling functions, is more a style question than something else, but that should be applied to the project as a whole. Since oauthlib has started to use Exception mechanisms to return these states, I'm not sure it's worth to change it now.

Any Thoughts?

[2021-08-11 17:47] JonathanHuot commented on #769
Hi @shivahari , any help on this are welcome :)
Note that you can also build a document and we can add it into the oauthlib documentation section.

[2021-08-11 17:47] JonathanHuot commented on #755
That would be very kind, yes.

[2021-08-11 17:51] Borthralla commented on #754
I'm not arguing for moving everybody to that approach, the same check will occur with the same exception. I'm just requesting that the check be put in a visible method in case someone wanted to check it themselves.

[2021-08-12 04:13] shivahari commented on #769
Thank you for responding @JonathanHuot, I am working on a blog post now, will build a document once I complete the post.

[2021-08-12 07:29] JonathanHuot commented on #374
Hi @jvanasco, generally speaking, oauthlib should provide a secure default based on standards.
However, it must have enough hooks & override capabilities to change part of its core to handle specific use-cases.

If the hooks are not there or you feel it is not possible to override this POST behavior, I would suggest to add the possibility to do it in oauthlib and submit a PR.

[2021-08-12 19:43] jvanasco commented on #374
Thanks, @JonathanHuot. I need to re-examine the library to see if the hooks/subclasses can be used to support my needs. Since the original post, I was able to achieve what I needed with subclassing; the changeset introduced above seemed to have broken that by introducing a query param blacklist enforced against many endpoints.

The defaults should ABSOLUTELY be secure and spec conformant. No one s

[2021-08-15 00:00] jw-00000 opened #770 "Hook to revoke refresh token after use"
I'm using oauthlib to implement an OAuth 2.0 provider. When a refresh token is used, i.e. a request is made to `/token` with `grant_type=refresh_token&refresh_token=123`, the OAuth spec states "The authorization server MAY revoke the old refresh token after issuing a new refresh token to the client." ([section 6](https://datatracker.ietf.org/doc/html/rfc6749#section-6), last paragraph). However, I

[2021-08-18 09:53] #755 closed

[2021-08-18 19:57] juur opened #773 "Support additional response_types in WebApplicationClient"
It would be helpful to allow `oauthlib.oauth2.WebApplicationClient` to support supplementary response_types in addition to code. For example, for Azure a response_type=id_token+code returns an additional id_token in the Access Token response, this contains useful information such as the email address of the user. [See this Stackoverflow answer](https://stackoverflow.com/a/49455543/784804).

I was

[2021-08-27 13:16] bobpach opened #774 "PRISMA-2021-0041 - There is no support for PKCE implementation in the oauthlib client"
PRISMA-2021-0041 - There is no support for PKCE implementation in the oauthlib client. Client-side PKCE for OAuth2 RFC 7636 is required for applications to have secure communication with the authorization server. OAuth 2.0 public clients utilizing the Authorization Code Grant are susceptible to the authorization code interception attack.**Describe the bug*

[2021-09-02 14:53] nam3less opened #775 "Client: Include a buffer to the validity check."
**Describe the feature**

I would like to propose a new kwarg for Clients which would define a "buffer" for the token validity check.
This option would let the client consider a token expired x seconds earlier then it does.
With a default value of 0 the change should be backwards compatible

**Additional context**

The feature would apply to the OAuth2 Client.

The highest difference could also be

[2021-09-05 21:50] duaneking commented on #562
If Microsoft chooses to implement the standard incorrectly, that's not on is to support them; they are a for-profit company with billions after all.

[2021-09-20 09:47] jjlangen commented on #774
I also have this issue. It seems there is an (in)active PR on this issue #743

[2021-09-20 13:44] thedrow commented on #774
Feel free to take over. All contributions are welcome 😄

[2021-09-23 09:34] remko opened #776 "oauth2 `raise_from_error` raises random error for `invalid_request`"
When an OAuth2 call fails, `raise_from_error` loops through all defined exceptions in `errors.py` to find one that matches the returned error code. However, the `invalid_request` error code is defined on a base class `InvalidRequestFatalError` that is implemented by several specific errors. The result is that, when an `invalid_request` happens, a random class is raised to the calling client.

For

[2021-09-30 15:59] JonathanHuot commented on #770
Hi @jw-00000 , have you checked if you can put it in `rotate_refresh_token` ? See the flow https://oauthlib.readthedocs.io/en/latest/oauth2/server.html

[2021-09-30 16:11] JonathanHuot commented on #773
Hi @juur , yes actually the OIDC Client is not implemented yet, so it should be part of it ; see https://oauthlib.readthedocs.io/en/latest/feature_matrix.html

Any PR into that direction will be very welcome :)
Like creating a new class `oauthlib.oidc.WebApplicationClient` and make the base one parametrized, maybe ?

[2021-10-01 15:54] JonathanHuot commented on #775
Hi, that's can be useful. Just by curiosity, have you checked if you can override a function instead of changing the kwarg?

[2021-10-01 16:04] JonathanHuot commented on #776
You're right that should not be implemented like that.

Ideally `raise_from_error` should only raise base class where `error=` is set, but not in the other exceptions.

[2021-10-20 23:28] JTStoll opened #780 "String value on expires_at results in exception"
**Describe the bug**

When a token passes a String date field for `expires_at`, an exception is thrown, making it impossible to parse the token.

My team encountered this attempting to do an OAuth flow with Square (https://squareup.com), so this is certainly happening in out in the wild. Square passes a string date, something like '2021-JUN-12 13:42:36'.

In addition, it looks as though this same

[2021-10-21 06:02] auvipy commented on #780
can you atleast provide or start with a failing test case?

[2021-10-27 12:09] kloczek opened #784 "3.1.1: pytest is failing"
**Describe the bug**
Pytest is failing. Additionally some deprecation warninmgs are printed.

**How to reproduce**
I'm trying to package your module as an rpm package. So I'm using the typical build, install and test cycle used on building packages from non-root account.
- "setup.py build"
- "setup.py install --root </install/prefix>"
- "pytest with PYTHONPATH pointing to sitearch and sitelib insi

[2021-10-27 12:18] kloczek opened #785 "3.1.1: sphinx warnings"
**Describe the bug**
During generate documentation are emitted some warnings.
Here is command and output:
[code]

[2021-11-02 12:03] JonathanHuot commented on #780
Fixed in https://github.com/oauthlib/oauthlib/pull/783

[2021-11-02 12:03] #780 closed

[2021-11-13 19:55] freeman1981 commented on #676
Hello!
Sorry for my English (google translate helps me).
I use [django-oauth-toolkit](https://github.com/jazzband/django-oauth-toolkit) as an authorization server, and [mozilla-django-oidc](https://github.com/mozilla/mozilla-django-oidc) as a client and resource server.

The client crashes because of the "Barrier," (coma after Barrier) - I had to make a crutch in the client - something like
`heade

[2021-11-13 20:29] Abhishek8394 commented on #676
The comma here is a delimiter. I mentioned that it should *not* be
`Bearer,` but `Bearer key=value` and then comma if more key value pairs
need to be added.
The client should not send `Bearer,` either. Does it fail for you if you
use the correct form?

On Sat, Nov 13, 2021, 11:55 AM Alexander ***@***.***> wrote:

[2021-11-13 20:32] Abhishek8394 commented on #676
The comma here is a delimiter. I mentioned that it should *not* be
`Bearer,` but `Bearer key=value` and then comma if more key value pairs
need to be added.
The client should not send `Bearer,` either. Does it fail for you if you
use the correct form?

[2021-11-13 20:55] freeman1981 commented on #676
If I use correct form - everythink OK) As I mentioned before I use crutch `headers ['www-authenticate'] = headers ['www-authenticate']. Replace ('Bearer,', 'Bearer', 1)` ))

For example `Bearer, foo=bar, spam="egg"` become in my client (mozila-django-oidc) `Bearer foo=bar, spam="egg"`

I have some questions for mozila-django-oidc - but its another story)

[2021-11-14 08:02] auvipy commented on #676
ok

[2021-11-16 23:50] luhn opened #788 "CORS for metadata endpoint"
**Describe the feature**

Return CORS headers for RFC6749 metadata endpoints.  This will allow SPAs to fetch the metadata.

**Additional context**

The metadata endpoint is public and has no side effects, so should be safe to expose to all origins (`*`).

I'm willing to submit a PR for this if I get a green light.

[2021-11-16 23:59] luhn opened #789 "CORS for token endpoint"
**Describe the feature**

Return CORS headers for RFC6749 token endpoint.  This will allow SPAs perform an Authentication Code Grant.

Although I cannot think of any reason why it would be problematic to expose to all origins (`*`), for safety we should restrict to a per-client origin list.  We could add a method (`get_allowed_origins`?) to the request validator.  By default this will return `None

[2021-11-17 00:14] luhn commented on #789
This implementation will only support token requests made with `application/x-www-form-urlencoded` content type and client ID/secret in POST body (i.e. no HTTP basic auth).  Any other requests will result in a CORS preflight request, which would necessitate a new endpoint.

[2021-12-08 20:36] Xpyder opened #794 "Documentation Error: Implicit Grant is being depreciated in favor of Authorization Code + PKCE"
**Describe the bug**
on  https://oauthlib.readthedocs.io/en/latest/oauth_1_versus_oauth_2.html

the entry for
`Your clients reside in user controlled devices with the ability to authorize through a web based workflow. This workflow is inherently insecure, restrict the privileges associated with tokens accordingly.`
suggests to use Implicit Grant, but Implicit Grant is now considered to be unaccept

[2021-12-13 05:32] #789 closed

[2021-12-13 05:32] #788 closed

[2021-12-13 05:42] #741 closed

[2021-12-22 02:46] sarathsund commented on #741
hi, I do have the same issue in jupyterhub requirements dependencies. May i know in which release version this PR fix will be merged ?

[2021-12-24 05:12] gandhirajan commented on #774
@auvipy I saw that the PR related to this issue is merged. Could please provide some info on when is the planned release for this fix?

[2021-12-24 05:45] auvipy commented on #774
we can expect very soon, we just need a license issue fixed and update some release notes

[2021-12-24 06:18] gandhirajan commented on #774
@auvipy Thanks for the instant update.

[2022-01-27 17:21] ankit-jha commented on #736
Please start the new year with the new release.
We're waiting on it.

[2022-01-28 18:51] n2ygk opened #799 "create_userinfo_response ignores Access Token's granted scopes."
**Describe the bug**

`create_userinfo_response()` ignores the Access Token's granted scopes which prevents properly [Requesting Claims using Scope Values per the OIDC core spec section 5.4](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims).

**How to reproduce**

See this [example code snippet for a django-oauth-toolkit OP](https://github.com/n2ygk/dot-tutorial/blob/ffb594224f0d5

[2022-01-29 04:38] auvipy commented on #799
Based on what you describe I would say if you could come with a proposed solution/PR that would be mostly welcome.

[2022-01-29 13:41] n2ygk commented on #799
I'm not sure I understand the logic in oauthlib sufficiently to do this. I would want someone with a strong understanding of the reason request.scopes is hardcoded to "openid". Perhaps @JonathanHuot can answer that.

However It looks like this can be worked around in DOT by explicitly passing the `access_token` to `get_oidc_claims`, and then the scopes are available from the `access_token`.

[2022-01-29 21:15] #676 closed

[2022-01-30 03:33] auvipy commented on #774
closing in favor of https://github.com/oauthlib/oauthlib/pull/786

[2022-01-30 03:33] #774 closed

[2022-01-30 09:11] JonathanHuot commented on #799
Hi @n2ygk,

After reviewing the code, I think the line https://github.com/oauthlib/oauthlib/blob/master/oauthlib/openid/connect/core/endpoints/userinfo.py#L39 with `openid` hard-coded is just ignored and can be removed with no effects.
Note that the `RequestValidator.validate_bearer_token` is called just after and must set the `request.scopes` based on the Bearer Access Token permissions. So it sh

[2022-01-30 15:42] n2ygk commented on #799
@JonathanHuot Aha! I see on further reading of downstream DOT's [validate_bearer_token](https://github.com/jazzband/django-oauth-toolkit/blob/f46439e69844feb12fc8e5a6dcb99dd569abec3f/oauth2_provider/oauth2_validators.py#L397-L404
) that it is confusing the _minimum list of scopes required_ to access the userinfo endpoint ("openid") with the scopes granted in the access token:
[code]

[2022-01-30 16:45] JonathanHuot commented on #799
Oh yes! good catch :)
So the `openid` is required as it is a needed scope to access the userinfo endpoint... That's hard to understand as we're mixing and reusing functions here, but now it is clear :)

[2022-01-30 16:46] JonathanHuot commented on #794
Hi @Xpyder , you're right , this section deserves a little bit of refactoring following new security best practices. Any PR by chance ? (you can test your changes before commit by executing `tox -e docs` !)

[2022-01-30 18:25] n2ygk commented on #799
Hopefully I got it right. The uses of variable names like `scopes` seems to sometimes refer to required scopes and otherwise requested or granted scopes.

I think we can move along and close this issue;-)  I'll think more about your suggestion and whether I can move my [implementation](https://github.com/jazzband/django-oauth-toolkit/pull/1108) up from DOT:

Scope-based claims is easy. Responding

[2022-01-30 18:25] #799 closed

[2022-02-01 08:23] tahaatrian30 opened #802 "scope field in create_userinfo_response is manually set?"
In the bellow code when the request object is created, the scope field will be manually set. This is problematic.  With this behavior, the server can't send responses depending on the client's need.(oauthlib/openid/core/endpoints/userinfo.py)
[code]
If somebody wants to use django.oauth.toolkit and wants to customize the userinfo response will face this problem.
He wants to send userinfo depending

[2022-02-15 11:11] georgavagyan opened #805 "validate_token_parameters only checks for token in response body"
**Describe the bug**

If API returns JSON with `access_token` not in the top level, `validate_token_parameters()` fails to validate token and throws error.

**How to reproduce**

I got this error while working with Withings API, here's the link for response format (tl;dr - `access_token` is in the `body` key):
https://support.withings.com//hc//en-us//articles//360016745358--BREAKING-Deprecating-ac

[2022-02-15 13:18] georgavagyan commented on #805
Sorry, just realized that i can simply use `register_compliance_hook()` to tinker the response before parsing

[2022-02-15 13:18] #805 closed

[2022-02-20 19:36] JonathanHuot commented on #802
Closing as it seems a misunderstanding of why we added this line. This line is only because the UserInfo endpoint is protected by the scope openid. However the claims is passed thru another function.

See full discussion here https://github.com/oauthlib/oauthlib/issues/799#issuecomment-1025201065

If you have any other use-case or example, please reopen the issue wit those details.
Thanks

[2022-02-20 19:36] #802 closed

[2022-02-20 19:44] JonathanHuot commented on #768
hi @satiowadahc, we have fixed the requests-oauthlib pipeline and are working on reviewing issues and merging PR and publishing new releases (v1.3.1 is out, working on 1.4).

Please feel free to continue working on it.

[2022-02-20 19:44] #768 closed

[2022-02-20 19:46] JonathanHuot commented on #762
Migration has been done, and I played around GH Actions with requests-oauthlib.
I have not yet any strong preference between TravisCOM and GH, so I will not encourage doing a migration, unless we have a real benefit.

[2022-02-20 19:46] #762 closed

[2022-02-24 01:07] #785 closed

[2022-03-10 09:26] JonathanHuot commented on #678
Since the beginning of this thread, the oauthlib community has been created and has some community members maintaining it. All the ideas raised in this thread have not been completely solved.

Because we are always looking for new community members to work on new features and to review the list of issues/PR, I keep this thread open and pinned.

[2022-03-18 18:05] jdevries3133 opened #809 "Show Diff for Changed Scope"
**Describe the feature**

When scopes change, show the differences between the new and old scopes.

**Additional context**

I experienced the output of this code path:

https://github.com/oauthlib/oauthlib/blob/b123283ba3d41acb3e787fdf68bd5907972b4bad/oauthlib/oauth2/rfc6749/parameters.py#L457-L471

I found that the output was hard to read. I was able to better debug what was happening by adding s

[2022-03-22 04:40] auvipy commented on #809
I would like to see a draft PR on this

[2022-04-01 20:21] michaelvli opened #812 "OAuth1 - Adding parameter to authorization header"
Is there a way to add a custom parameter to the authorization header?  I'm using OAuth1 to make an API call that requires the parameter, "diffie_hellman_challenge".  I saw that in 2014, there was a similar request: https://github.com/requests/requests-oauthlib/issues/125

Instead of limiting the parameters to specific keywords, would it be possible to make the function cycle through a generic list

[2022-04-15 19:03] krzysieqq opened #813 "3.2.0 caused "NotImplementedError: Subclasses must implement this method." error"
**Describe the bug**

I have problem using django-oauth-toolkit. I have app with setup:
client type - Confidential
grant type -  Authorization code
Skip authorization - True
Algorithm - HMAC with SHA-2 256

I tried to login with OIDC using on other side mozilla-django-oidc==2.0.0 and requests-oauthlib==1.3.1 after correct request goes to /authorize it throws 500. I think problem could be somewhere

[2022-04-23 12:22] bennr01 opened #814 "oauth2 implicit grant does not seem to properly return the error in uri fragment when client is unauthorized to use response_type token"
**Describe the bug**

**Disclaimer:** I am not entirely sure if this is a bug in oauthlib or if I messed something up in my test cases, but my code analysis makes me believe this is caused by oauthlib.

When using the oauth2 implicit grant and the client is not authorized to use the response_type `token`, the error message is returned in the query but should be returned in the fragment (See [RFC67

[2022-05-19 16:39] dasm opened #817 "RFC5849 oauth1 signature base_string_uri doesn't parse IPv6 addresses"
**Describe the bug**
RFC5849 oauth1 signature base_string_uri doesn't parse IPv6 addresses.

**How to reproduce**

[code]

**Additional context**
The issue has been found during running tests with TripleO CI.
Associated bug: https://bugs.launchpad.net/tripleo/+bug/1960355

[2022-08-19 21:08] burkel24 opened #827 "Pre-configured OIDC server should use OIDC refresh token grant type"
**Describe the feature**

The pre-configured OIDC server class at `openid.connect.core.endpoints.pre_configured` should use the OIDC-specific `RereshTokenGrant` defined in `openid.connect.core.grant_types.refresh_token`.

**Additional context**

#752 Added an OIDC-specific refresh token grant type, which enables ID tokens to be issued as part of the token refresh flow. The pre-configured OIDC serv

[2022-08-27 04:42] SCH227 opened #830 "Security Issue in OAuthLib"
Good day, how are you?

I am a security researcher, and I found a vulnerability in this library.
Following responsible disclosure process, I am looking forward giving the details about it on the proper channel, that I couldn't find through your docs.

Shall I open directly an issue here, or email to an address?

Thank you,
S_

[2022-08-27 07:17] auvipy commented on #830
email: auvipy@gmail.com

[2022-09-02 21:53] JonathanHuot commented on #813
Hi @krzysieqq, you will need to report the issue to django-oauth-toolkit I'm afraid.
It seems `validate_silent_login` function is not implemented in the `RequestValidator`.

[2022-09-02 21:53] #813 closed

[2022-09-02 21:55] JonathanHuot commented on #784
Closing as it seems related to environment issue.

[2022-09-02 21:55] #784 closed

[2022-09-02 22:02] JonathanHuot commented on #814
Hi @bennr01, thanks for the report, it is a good analysis and it seems you're right => even though the client is not authorized to use the implicit grant, the error should use the implicit grant response mode.

Any PRs to fix this one by chance ?

[2022-09-02 22:08] #742 closed

[2022-09-02 22:15] #770 closed

[2022-09-02 22:21] kloczek commented on #784
What about thar pytest warnimng? 🤔

[2022-09-03 06:25] auvipy commented on #784
one warning which can be fixed. that is not a failure

[2022-09-09 20:28] JonathanHuot opened #833 "CI/Pipeline broken since TravisCI consumed all "OSS credits""
Because we're running a OSS project, we have a 10000 credits in Travis-CI.com to run jobs. The pipeline stopped working around June, I thought initially it should be enough (https://github.com/oauthlib/oauthlib/issues/762) but apparently it is only enough for a couple of months of usage!

I have sent an email to Travis support to see if we can have more credits dedicated to oauthlib, else we may n

[2022-09-09 22:17] #830 closed

[2022-09-10 05:31] auvipy commented on #833
I was talking about GHA move lately

[2022-09-10 19:28] #817 closed

[2022-09-28 13:06] noren95 opened #837 "Merging the fix of CVE-2022-36087 into tag v3.2.1"
Hello,

I would like to get some information/verification regarding the fix for CVE-2022-36087.
According to the release notes and the related pull request generated by the Security Advisory, a patch is available in version [3.2.1](https://github.com/oauthlib/oauthlib/releases/tag/v3.2.1).
However, when reviewing the vulnerable file `uri_validate.py`, it seems to remain similar to the previous, af

[2022-10-04 12:52] benknoble commented on #837
Agreed; other reports list 3.2.1 as still affected, even though the NIST report does not.

[2022-10-05 18:19] Pankrat commented on #827
Also stumbled upon this while trying to integrate `oauthlib` via `django-oauth-toolkit` (which uses the pre_configured configuration if OIDC is enabled).

Is there any reason *not* to set `self.refresh_grant` to `RefreshTokenGrant` from `oauthlib.openid.connect.core.grant_types`?

Here's the (somewhat messy) workaround I'm currently using for getting ID tokens when refreshing tokens:

[code]

I'm

[2022-10-08 18:26] burkel24 commented on #827
@Pankrat the fixed is merged, should be out in the 3.3.0 release

[2022-10-10 18:28] jacwalte commented on #837
Still seeing this issue.  Are there any updates?

[2022-10-11 07:32] auvipy commented on #837
git log shows https://github.com/oauthlib/oauthlib/commit/2e40b412c844ecc4673c3fa3f72181f228bdbacd was merged

[2022-10-11 07:32] auvipy commented on #837
release notes https://github.com/oauthlib/oauthlib/releases/tag/v3.2.1

[2022-10-11 07:42] noren95 commented on #837
Apparently, it was merged but into 'master' only.
The vulnerable line still exists on v3.2.1:
https://github.com/oauthlib/oauthlib/blob/v3.2.1/oauthlib/uri_validate.py#L69

[2022-10-11 07:43] auvipy commented on #837
@JonathanHuot can you chime in please?

[2022-10-17 20:16] JonathanHuot commented on #837
I have released 3.2.2 with patched file. I've tried to update CVE from within github, but it seems not reflecting the info anywhere. I will look into creating a new one if required later.

Thanks for the report! It was a mistake during previous release preparation.

[2022-10-18 12:33] noren95 commented on #837
Hi @JonathanHuot
Thank you for the updates!

[2022-11-07 14:56] adityabala-datadog opened #841 "URI validation does not support shortform localhost IPv6 URIs"
**Describe the bug**

A clear and concise description of what the problem is.

When handling `authorize post` requests, before validating the URI against registered redirects for the client, the library will enforce that the [given URI is absolute](https://cs.github.com/oauthlib/oauthlib/blob/564d526fdbdc32a936e4b5ddac186c26024f626b/oauthlib/oauth2/rfc6749/grant_types/base.py#L232).

[The validati

[2022-11-07 15:22] adityabala-datadog commented on #841
Realized it was fixed on a later release 👍 . Closing!

[2022-11-07 15:22] #841 closed

[2022-11-26 21:46] #827 closed